Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

chore(deps): update golang docker tag to v1.20.7 (#217)
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1 (#218)
  .pre-commit-config.yaml
Due: none

fix(deps): update module go.uber.org/zap to v1.25.0 (#219)
  go.mod
  go.sum
Due: go-no-replacement

delete dead code
  pkg/blocks/sync.go
Due: go-copyright, go-vet, gocritic

remove redundant tests
  pkg/blocks/sync_test.go
Due: go-copyright, go-vet, gocritic

temporarily comment out a bunch of stuff so that I can tackle subTTPs later
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
Due: go-copyright, go-vet, gocritic

remove redundant test
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

first templated test started working - need to restore output handling
  pkg/blocks/sync.go
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

conditional tests almost working but I need to retool args to make them properly typed
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

fix indentation
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

port args to be of type any - needed to comment out incompatible tests but key ones like cmd and pkg/blocks pass
  cmd/run.go
  cmd/run_integration_test.go
  pkg/args/spec.go
  pkg/args/spec_test.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/outputs/outputs_test.go
  pkg/runner/execute_test.go
Due: go-copyright, go-vet, gocritic

add strong typing to args
  pkg/args/spec.go
  pkg/args/spec_test.go
Due: go-copyright, go-vet, gocritic

add test case indicating that argument types are not correctly handled
  cmd/run_integration_test.go
Due: go-copyright, go-vet, gocritic

give file a better name
  pkg/blocks/load.go
Due: go-copyright, go-vet, gocritic

rename again
  pkg/blocks/loader.go
Due: go-copyright, go-vet, gocritic

ttp linting stub - requires further work
  pkg/blocks/loader.go
  pkg/blocks/loader_test.go
Due: go-copyright, go-vet, gocritic

WIP - linter still in bits in pices - parse out arg specs - almost ready for strong typing
  pkg/blocks/loader.go
  pkg/blocks/loader_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Due: go-copyright, go-vet, gocritic

strong typing of arguments now works end to end, run integration tests passes
  cmd/run_integration_test.go
  pkg/blocks/loader.go
  pkg/files/yaml.go
Due: go-copyright, go-vet, gocritic

subttp with template args now functions correctly - passes through
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Due: go-copyright, go-vet, gocritic

re-enable subttps as valid step type
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

restore test for ambiguous step type
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

fix step outputs substitution to reflect new templating approach
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Due: go-copyright, go-vet, gocritic

restore basicstep test that was temporarily commented out
  pkg/blocks/basicstep_test.go
Due: go-copyright, go-vet, gocritic

uncomment remaining e2e tests
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
Due: go-copyright, go-vet, gocritic

appease pre-commit
  go.mod
  go.sum
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/preprocess/preprocess.go
  pkg/preprocess/preprocess_test.go
Due: go-no-replacement, go-copyright, go-vet, gocritic

restore outputs tests
  pkg/outputs/outputs_test.go
Due: go-copyright, go-vet, gocritic

Update comment to be compliant with doc autogen
  pkg/blocks/loader.go
Due: go-copyright, go-vet, gocritic

Update preprocess.go
  pkg/preprocess/preprocess.go
Due: go-copyright, go-vet, gocritic

Update comments for doc autogen
  pkg/preprocess/preprocess.go
Due: go-copyright, go-vet, gocritic

Mild formatting
  pkg/preprocess/preprocess.go
Due: go-copyright, go-vet, gocritic

Appease pre-commit
  pkg/preprocess/preprocess.go
Due: go-copyright, go-vet, gocritic

Add/Update autogen docs
  pkg/blocks/README.md
  pkg/preprocess/README.md
  pkg/preprocess/preprocess.go
Due: go-copyright, go-vet, gocritic

Update test to table format for longevity
  pkg/preprocess/preprocess_test.go
Due: go-copyright, go-vet, gocritic

Cleaned up code-standards verbiage; linting
  docs/code-standards.md
Due: none

Fixed bug in renovate bot config
  .github/workflows/renovate.yaml
Due: none

Native Golang Template Support (#223)
  cmd/run.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  pkg/args/spec.go
  pkg/args/spec_test.go
  pkg/blocks/README.md
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/preprocess/README.md
  pkg/preprocess/preprocess.go
  pkg/preprocess/preprocess_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
Due: go-no-replacement, go-copyright, go-vet, gocritic

Cleaned up code-standards verbiage; linting (#224)
  docs/code-standards.md
Due: none

Fixed bug in renovate bot config (#225)
  .github/workflows/renovate.yaml
Due: none

first repo test passes - loads configs successfully
  pkg/repos/config.go
  pkg/repos/config_test.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  pkg/repos/config.go
  pkg/repos/config_test.go
Due: go-copyright, go-vet, gocritic
