Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

Add logger and tests; update go-vet
  .hooks/go-vet.sh
  logging/logger.go
  logging/logger_test.go
  main.go
Due: go-unit-tests, go-vet

Add root; update go mods
  .pre-commit-config.yaml
  cmd/root.go
  go.mod
  go.sum
  logging/logger_test.go
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement, go-unit-tests, go-vet

Overhauled logging
  cmd/root.go
  logging/logger.go
  logging/logger_test.go
Due: go-unit-tests, go-vet

OSS Automated Fix: Addition of Contributing
  CONTRIBUTING.md
Due: none

OSS Automated Fix: Addition of Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Begin migrating code from internal
  .config.yaml
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .gitignore
  .hooks/go-vet.sh
  .pre-commit-config.yaml
  README.md
  cmd/procedure.go
  cmd/root.go
  cmd/run.go
  docs/dev.md
  embed.go
  go.mod
  go.sum
  logging/logger.go
  logging/logger_test.go
  magefiles/go.mod
  magefiles/go.sum
  main.go
Due: go-no-replacement, go-unit-tests, go-vet

Add blocks and atomics
  atomics/searchTTP.go
  atomics/step.go
  atomics/sync.go
  atomics/ttps.go
  blocks/basicstep.go
  blocks/basicstep_test.go
  blocks/common.go
  blocks/filestep.go
  blocks/filestep_test.go
  blocks/searchAny.go
  blocks/step.go
  blocks/subttp.go
  blocks/subttp_test.go
  blocks/sync.go
  blocks/ttps.go
  blocks/ttps_test.go
Due: go-unit-tests, go-vet

Minor refactor and linting
  blocks/basicstep_test.go
  blocks/filestep_test.go
  blocks/subttp_test.go
  blocks/ttps_test.go
Due: go-unit-tests, go-vet

Update mdstyle to accomodate lists in examples
  .hooks/linters/mdstyle.rb
Due: none

Minor linting
  atomics/ttps.go
  blocks/step.go
Due: go-unit-tests, go-vet

Refactoring; added basic TTP
  atomics/step.go
  atomics/ttps.go
  blocks/basicstep.go
  blocks/filestep.go
  blocks/step.go
  tests/test.sh
  tests/test_cleanup_inline.yaml
  tests/test_inline.yaml
  tests/tests_sub.yaml
  tests/yaml_runner.yaml
  ttps/privilege-escalation/credential-theft/hello-world/hello-world.sh
  ttps/privilege-escalation/credential-theft/hello-world/ttp-inline.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp.yaml
Due: go-unit-tests, go-vet

Added missing document start to YAML
  tests/test_cleanup_inline.yaml
  tests/test_inline.yaml
  tests/tests_sub.yaml
  tests/yaml_runner.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp-inline.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp.yaml
Due: none

Fixed issue that resulted in debug mode always being on
  .config.yaml
  logging/logger.go
Due: go-unit-tests, go-vet

Updated output for clarity
  atomics/step.go
  blocks/filestep.go
  blocks/step.go
Due: go-unit-tests, go-vet

Add TTP-Runner bin to .gitignore
  .gitignore
Due: none

Update go mods; add vscode debug config
  .vscode/launch.json
  go.mod
  go.sum
Due: go-no-replacement

Add missing log entries; linting
  blocks/basicstep.go
  blocks/common.go
Due: go-unit-tests, go-vet

Linting and refactoring
  blocks/filestep.go
  blocks/ttps.go
Due: go-unit-tests, go-vet

Add missing comments for exported funcs and global var
  blocks/common.go
Due: go-unit-tests, go-vet

Refactored and created tests for blocks/common
  blocks/common.go
  blocks/common_test.go
  blocks/filestep.go
  blocks/subttp.go
  go.mod
  go.sum
Due: go-no-replacement, go-unit-tests, go-vet

Updated filepaths in go-vet hook
  .hooks/go-vet.sh
  go.sum
Due: none

Add missing log statement
  blocks/step.go
  blocks/ttps.go
Due: go-unit-tests, go-vet

Add pre-commit action for main branch
  .github/workflows/pre-commit.yaml
Due: none

Add vscode settings; update test package
  .vscode/settings.json
  atomics/step.go
  blocks/common_test.go
Due: go-unit-tests, go-vet

Add testing doc
  README.md
  docs/testing.md
Due: none

Fixed constant naming convention
  blocks/basicstep.go
  blocks/filestep.go
  blocks/step.go
  blocks/subttp.go
Due: go-unit-tests, go-vet

Add more clarity to existing comments; remove confusing ones
  cmd/procedure.go
Due: go-unit-tests, go-vet

Create InferExecutor() and test
  atomics/step.go
  blocks/filestep.go
  blocks/filestep_test.go
Due: go-unit-tests, go-vet

Remove unused atomics package
  atomics/searchTTP.go
  atomics/step.go
  atomics/sync.go
  atomics/ttps.go
Due: go-unit-tests, go-vet

Fixed vars with underscores
  cmd/procedure.go
Due: go-unit-tests, go-vet

Moved blocks and logging to pkg
  .config.yaml
  cmd/procedure.go
  cmd/root.go
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/common.go
  pkg/blocks/common_test.go
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
  pkg/blocks/searchAny.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Due: go-unit-tests, go-vet

Fixed error message capitalization
  atomics/searchTTP.go
  atomics/step.go
  atomics/sync.go
  atomics/ttps.go
  pkg/blocks/common.go
Due: go-unit-tests, go-vet

Added test to TestFindFilePath with tilde
  pkg/blocks/common_test.go
Due: go-unit-tests, go-vet

Remove old atomics
  atomics/searchTTP.go
  atomics/step.go
  atomics/sync.go
  atomics/ttps.go
Due: go-unit-tests, go-vet

Remove unused var
  cmd/run.go
Due: go-unit-tests, go-vet

Linting; add missing err validation in Cleanup()
  pkg/blocks/common_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

Remove dead code
  cmd/root.go
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/sync.go
Due: go-unit-tests, go-vet

Update output; add missing comments
  pkg/blocks/common.go
  pkg/blocks/step.go
Due: go-unit-tests, go-vet

Fixed pathing issue in FetchAbs()
  pkg/blocks/common.go
  pkg/blocks/common_test.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
