Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

Add all PT members to CODEOWNERS
  .github/CODEOWNERS
Due: none

Add all PT members to CODEOWNERS (#304)
  .github/CODEOWNERS
Due: none

chore(deps): update golang docker tag to v1.21.1
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/spf13/afero to v1.9.5
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module go.uber.org/zap to v1.25.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update docker/build-push-action digest to 0a97817
  .github/workflows/container.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5497961
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/checkout action to v4
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

remove unnecessary extra parameter in repo collection
  cmd/config.go
  pkg/repos/repo_collection.go
  pkg/repos/repo_collection_test.go
Due: go-copyright, go-vet, gocritic

add appropriate absolute path handling to repo itself
  cmd/config.go
  pkg/blocks/subttp_test.go
  pkg/repos/repo.go
  pkg/repos/repo_collection.go
  pkg/repos/repo_collection_test.go
  pkg/repos/repo_test.go
Due: go-copyright, go-vet, gocritic

working repo removal command
  cmd/remove.go
  cmd/remove_repo.go
  cmd/root.go
  pkg/repos/repo.go
Due: go-copyright, go-vet, gocritic

add test case to verify it all can work with no config file
  pkg/repos/repo_collection_test.go
Due: go-copyright, go-vet, gocritic

usage improvement, bugfix, add test case to ensure that everything works without config
  cmd/install_repo.go
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

output formatting improvements and fixing pointer bugs
  cmd/install_repo.go
  cmd/list_ttps_test.go
  cmd/remove_repo.go
  cmd/test-resources/repos/another-repo/some-ttps/basic-inline.yaml
  cmd/test-resources/repos/another-repo/ttpforge-repo-config.yaml
  cmd/test-resources/test-config.yaml
  pkg/repos/repo.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  cmd/README.md
  pkg/repos/README.md
  pkg/repos/repo_collection.go
Due: go-copyright, go-vet, gocritic

fix typo
  cmd/list_ttps_test.go
Due: go-copyright, go-vet, gocritic

bugfix config compatibility with test cases
  cmd/config.go
  cmd/root.go
Due: go-copyright, go-vet, gocritic

fix(deps): update module github.com/l50/goutils/v2 to v2.1.0 (#306)
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update golang docker tag to v1.21.1 (#305)
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

fix spelling error
  cmd/root.go
Due: go-copyright, go-vet, gocritic

remove underscores
  cmd/installrepo.go
  cmd/listrepos.go
  cmd/listttps.go
  cmd/listttps_test.go
  cmd/removerepo.go
  cmd/showttp.go
Due: go-copyright, go-vet, gocritic

remove deprecated library usage
  cmd/config.go
Due: go-copyright, go-vet, gocritic

remove additional underscore
  pkg/repos/repocollection.go
  pkg/repos/repocollection_test.go
Due: go-copyright, go-vet, gocritic

Add fetchURI
  pkg/blocks/README.md
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

linter
  pkg/blocks/fetchuri.go
Due: go-copyright, go-vet, gocritic

linter doesn't list subsequent items
  pkg/blocks/fetchuri.go
Due: go-copyright, go-vet, gocritic

Repository Handling Updates: `install` and `remove` commands (#314)
  cmd/README.md
  cmd/config.go
  cmd/init.go
  cmd/install.go
  cmd/installrepo.go
  cmd/listrepos.go
  cmd/listttps.go
  cmd/listttps_test.go
  cmd/remove.go
  cmd/removerepo.go
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
  cmd/showttp.go
  cmd/test-resources/repos/another-repo/some-ttps/basic-inline.yaml
  cmd/test-resources/repos/another-repo/ttpforge-repo-config.yaml
  cmd/test-resources/test-config.yaml
  pkg/blocks/subttp_test.go
  pkg/repos/README.md
  pkg/repos/repo.go
  pkg/repos/repo_test.go
  pkg/repos/repocollection.go
  pkg/repos/repocollection_test.go
Due: go-copyright, go-vet, gocritic

letters
  pkg/blocks/fetchuri.go
Due: go-copyright, go-vet, gocritic

Add fetchURI Step (#316)
  pkg/blocks/README.md
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

Removed test branch from container action
  .github/workflows/container.yaml
Due: none

Update go mod to fix container action
  .github/workflows/container.yaml
  magefiles/go.mod
Due: go-no-replacement

chore(deps): update github/codeql-action digest to 701f152
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update docker/build-push-action action to v5
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/login-action action to v3
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-buildx-action action to v3
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-qemu-action action to v3
  .github/workflows/container.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action action to v5
  .github/workflows/goreleaser.yaml
Due: none

Add go mod management for mage to container
  .devcontainer/bash/Dockerfile
  .github/workflows/container.yaml
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement
