Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

dry-run skeleton
  cmd/run.go
  pkg/blocks/context.go
Due: go-copyright, go-vet, gocritic

make dry run operational
  pkg/args/spec.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

tame Config - make it no longer a global variable to make cobra e2e testing less hacky
  cmd/config.go
  cmd/install.go
  cmd/installrepo.go
  cmd/list.go
  cmd/listrepos.go
  cmd/listttps.go
  cmd/remove.go
  cmd/removerepo.go
  cmd/root.go
  cmd/run.go
  cmd/show.go
  cmd/showttp.go
Due: go-copyright, go-vet, gocritic

re-export config so I can pass it in tests
  cmd/config.go
  cmd/install.go
  cmd/installrepo.go
  cmd/list.go
  cmd/listrepos.go
  cmd/listttps.go
  cmd/remove.go
  cmd/removerepo.go
  cmd/root.go
  cmd/run.go
  cmd/show.go
  cmd/showttp.go
Due: go-copyright, go-vet, gocritic

make config passable as part of BuildRootCommand
  cmd/listttps_test.go
  cmd/root.go
  cmd/run_test.go
  main.go
Due: go-copyright, go-vet, gocritic

working cobra-level test that asserts against output
  cmd/config.go
  cmd/listttps_test.go
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
  pkg/blocks/basicstep.go
  pkg/blocks/context.go
  pkg/blocks/filestep.go
  pkg/blocks/iocapture.go
Due: go-copyright, go-vet, gocritic

fix redundant tests of run
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

add missing test of secondary repo execution and rename things appropriately
  cmd/run_test.go
  cmd/test-resources/repos/another-repo/some-ttps/simple-inline.yaml
  cmd/test-resources/repos/test-repo/ttps/basic/basic-file.yaml
  cmd/test-resources/repos/test-repo/ttps/steps/file-step-demo.yaml
  cmd/test-resources/repos/test-repo/ttps/steps/hello-world.sh
Due: go-copyright, go-vet, gocritic

add dry-run specific test cases
  cmd/run_test.go
  cmd/test-resources/repos/test-repo/ttps/dry-run/dry-run-fail.yaml
  cmd/test-resources/repos/test-repo/ttps/dry-run/dry-run-success.yaml
Due: go-copyright, go-vet, gocritic

appease pre-commit
  cmd/README.md
  cmd/root.go
  cmd/test-resources/repos/test-repo/ttps/dry-run/dry-run-fail.yaml
  cmd/test-resources/repos/test-repo/ttps/steps/file-step-demo.yaml
  pkg/blocks/iocapture.go
Due: go-copyright, go-vet, gocritic

Implement `--dry-run` Flag for `ttpforge run` (#371)
  cmd/README.md
  cmd/config.go
  cmd/install.go
  cmd/installrepo.go
  cmd/list.go
  cmd/listrepos.go
  cmd/listttps.go
  cmd/listttps_test.go
  cmd/remove.go
  cmd/removerepo.go
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
  cmd/show.go
  cmd/test-resources/repos/another-repo/some-ttps/simple-inline.yaml
  cmd/test-resources/repos/test-repo/ttps/basic/basic-file.yaml
  cmd/test-resources/repos/test-repo/ttps/dry-run/dry-run-fail.yaml
  cmd/test-resources/repos/test-repo/ttps/dry-run/dry-run-success.yaml
  cmd/test-resources/repos/test-repo/ttps/steps/file-step-demo.yaml
  cmd/test-resources/repos/test-repo/ttps/steps/hello-world.sh
  main.go
  pkg/args/spec.go
  pkg/blocks/basicstep.go
  pkg/blocks/context.go
  pkg/blocks/filestep.go
  pkg/blocks/iocapture.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

chore(deps): update actions/setup-python digest to 65d7f2d
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update github/codeql-action digest to 2cb752a
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update golang docker tag to v1.21.2
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.1
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update dependency python to v3.12.0
  .tool-versions
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0
  .pre-commit-config.yaml
Due: none

fix(deps): update module github.com/spf13/afero to v1.10.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module go.uber.org/zap to v1.26.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v4.5.0 (#378)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency python to v3.12.0 (#377)
  .tool-versions
Due: none

chore(deps): update github/codeql-action digest to 2cb752a (#373)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.6 (#375)
  .pre-commit-config.yaml
Due: none

chore(deps): update actions/setup-python digest to 65d7f2d (#372)
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update golang docker tag to v1.21.2 (#374)
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

Add integration test debugging to launch cfg, refactor magefile, and update comments
  magefiles/magefile.go
Due: go-copyright, go-vet, gocritic

Integration tests working
  .vscode/launch.json
  magefiles/magefile.go
Due: go-copyright, go-vet, gocritic

Expose runIntegrationTests as a Mage Command and Enhance Documentation
  magefiles/magefile.go
Due: go-copyright, go-vet, gocritic

improve explanation of UnmarshalYAML
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

remove dead condition code
  pkg/blocks/step.go
Due: go-copyright, go-vet, gocritic

remove dead Args field for BasicStep
  pkg/blocks/basicstep.go
Due: go-copyright, go-vet, gocritic

move outputs to steps that actually write stdout
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
Due: go-copyright, go-vet, gocritic

move environment into the steps that support it
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
Due: go-copyright, go-vet, gocritic

prepare for big refactor
  pkg/blocks/step_old.go
  pkg/blocks/step_test.go
Due: go-copyright, go-vet, gocritic

rename current step interface to make room for me to switch it to a struct
  pkg/blocks/step_old.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

added new step structure
  pkg/blocks/step.go
  pkg/blocks/step_test.go
Due: go-copyright, go-vet, gocritic

remove spurious usage of ExecutionResult and replace with ActResult to simplify code
  pkg/blocks/basicstep.go
  pkg/blocks/createfile.go
  pkg/blocks/editstep.go
  pkg/blocks/fetchuri.go
  pkg/blocks/filestep.go
  pkg/blocks/iocapture.go
  pkg/blocks/step.go
  pkg/blocks/step_old.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

start checking step stdout
  pkg/blocks/step.go
  pkg/blocks/step_test.go
Due: go-copyright, go-vet, gocritic

basic inline cleanup test works - now must run the others
  pkg/blocks/basicstep.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
Due: go-copyright, go-vet, gocritic
