Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

add validation for argument types
  pkg/args/spec.go
  pkg/args/spec_test.go
Due: go-copyright, go-vet, gocritic

args: sane handling for required arguments
  pkg/args/spec.go
  pkg/args/spec_test.go
Due: go-copyright, go-vet, gocritic

new arg parsing code integrated - all tests pass
  cmd/run.go
  cmd/run_integration_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/runner/execute_test.go
Due: go-copyright, go-vet, gocritic

args: add example TTP
  ttps/examples/args/README.md
  ttps/examples/args/define-args.yaml
Due: none

add additional examples
  ttps/examples/args/define-args.yaml
  ttps/examples/outputs/README.md
  ttps/examples/outputs/step-outputs.yaml
Due: none

delete unused top-level TTP fetchEnv method
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

expand variables within environment
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/step.go
Due: go-copyright, go-vet, gocritic

make variable expansion work again
  pkg/blocks/filestep.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
Due: go-copyright, go-vet, gocritic

remove redundant yaml test
  pkg/files/yaml_test.go
Due: go-copyright, go-vet, gocritic

remove stuttering from OutputSpec
  pkg/blocks/step.go
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
Due: go-copyright, go-vet, gocritic

remove stuttering and add some comments
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
Due: go-copyright, go-vet, gocritic

add comments on outputs package
  pkg/outputs/outputs.go
Due: go-copyright, go-vet, gocritic

add comments on args package
  pkg/args/spec.go
Due: go-copyright, go-vet, gocritic

appease pre-commit - just need to fix markdown files now
  cmd/run_integration_test.go
  pkg/args/README.md
  pkg/args/spec.go
  pkg/blocks/README.md
  pkg/blocks/context.go
  pkg/files/README.md
  pkg/outputs/README.md
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  ttps/examples/args/README.md
  ttps/examples/args/define-args.yaml
  ttps/examples/outputs/README.md
  ttps/examples/outputs/step-outputs.yaml
Due: go-copyright, go-vet, gocritic

appease pre-commit - shoudl all pass now
  pkg/blocks/README.md
  pkg/blocks/context.go
  ttps/examples/args/README.md
  ttps/examples/outputs/README.md
Due: go-copyright, go-vet, gocritic

chore(deps): update docker/setup-buildx-action digest to 4c0219f
  .github/workflows/container.yaml
Due: none

chore(deps): update golang docker tag to v1.20.6
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Due: none

Unify Variable Expansion across Step Types and Variable Types (+ key bugfixes) (#171)
  cmd/run.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/args/README.md
  pkg/args/spec.go
  pkg/args/spec_test.go
  pkg/blocks/README.md
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/results.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/README.md
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/outputs/README.md
  pkg/outputs/outputs.go
  pkg/outputs/outputs_test.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  ttps/examples/args/README.md
  ttps/examples/args/define-args.yaml
  ttps/examples/outputs/README.md
  ttps/examples/outputs/step-outputs.yaml
Due: go-no-replacement, go-copyright, go-vet, gocritic

add cleanup-delay-seconds CLI parameter - useful for TTP iteration
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/ttps.go
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Due: go-copyright, go-vet, gocritic

add cleanup-delay-seconds CLI parameter - useful for TTP iteration (#180)
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/ttps.go
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Due: go-copyright, go-vet, gocritic

add env passthrough
  pkg/blocks/basicstep.go
Due: go-copyright, go-vet, gocritic

remove problematic logging output
  pkg/blocks/filestep.go
  pkg/blocks/subttp.go
Due: go-copyright, go-vet, gocritic

fix variable expansion for sub TTPs
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Due: go-copyright, go-vet, gocritic

fix cleanup segfaults
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
Due: go-copyright, go-vet, gocritic

chore(deps): update renovatebot/github-action action to v39 (#178)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/labeler action to v4.3.0 (#177)
  .github/workflows/meta-labeler.yaml
Due: none

chore(deps): update golang docker tag to v1.20.6 (#176)
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update docker/setup-buildx-action digest to 4c0219f (#172)
  .github/workflows/container.yaml
Due: none

chore(deps): update dependency python to v3.11.4
  .tool-versions
Due: none

cleanup steps now use correct executionContext
  pkg/blocks/subttp.go
Due: go-copyright, go-vet, gocritic

chore(deps): update dependency python to v3.11.4 (#173)
  .tool-versions
Due: none

remove spammy logs
  pkg/blocks/basicstep.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

delete moar annoying logs
  pkg/blocks/basicstep.go
Due: go-copyright, go-vet, gocritic

Misc Bugfixes (#185)
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

chore(deps): update actions/setup-python digest to 61a6322
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5f52783
  .github/workflows/semgrep.yaml
Due: none

Update build process to use asdf for language management
  .asdf
  .devcontainer/zsh/Dockerfile
  .gvm
  docs/container.md
  docs/dev.md
Due: none
