Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

finish appeasing pre-commit
  pkg/blocks/README.md
  pkg/blocks/basicstep.go
  pkg/blocks/createfile.go
  pkg/blocks/printstr.go
  pkg/blocks/removepath.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttpcleanup.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

remove building blocks - will add back in once current PR lands so I can reference up-to-date code snippets
  README.md
  docs/building-blocks.md
Due: none

Comprehensively Refactor Step Structure (#382)
  .pre-commit-config.yaml
  README.md
  cmd/run.go
  cmd/run_test.go
  cmd/test-resources/repos/another-repo/some-ttps/cleanup-tests/stress-tests.yaml
  cmd/test-resources/repos/another-repo/some-ttps/cleanup-tests/subttp/ttp.yaml
  cmd/test-resources/repos/another-repo/some-ttps/cleanup-tests/test.sh
  cmd/test-resources/repos/another-repo/some-ttps/simple-inline.yaml
  cmd/test-resources/repos/another-repo/some-ttps/sub-ttp-example/subttp1.yaml
  cmd/test-resources/repos/another-repo/some-ttps/sub-ttp-example/subttp2.yaml
  cmd/test-resources/repos/another-repo/some-ttps/sub-ttp-example/ttp.yaml
  docs/building-blocks.md
  pkg/blocks/README.md
  pkg/blocks/actions.go
  pkg/blocks/basicstep.go
  pkg/blocks/context.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/filestep.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/printstr_test.go
  pkg/blocks/removepath.go
  pkg/blocks/removepath_test.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/subttpcleanup.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

chore(deps): update github/codeql-action digest to 0116bc2
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update golang docker tag to v1.21.3
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update module github.com/spf13/afero to v1.10.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update golang docker tag to v1.21.3 (#384)
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update github/codeql-action digest to 0116bc2 (#383)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/checkout digest to b4ffde6
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/checkout digest to b4ffde6 (#388)
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update github/codeql-action digest to 49abf0b
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update github/codeql-action digest to 49abf0b (#389)
  .github/workflows/codeql-analysis.yaml
Due: none

temporarily remove vscode settings
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Temporarily remove vscode settings (#390)
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Refactored `magefiles/magefile.go` for sustainable upkeep.
  magefiles/docgen.go
  magefiles/magefile.go
  magefiles/testing.go
Due: go-copyright, go-vet, gocritic

Updated tool versions and enhanced documentation for `magefiles`.
  magefiles/tmpl/README.md.tmpl
Due: none

Patch older net lib
  magefiles/go.mod
Due: go-no-replacement

chore(deps): update actions/checkout digest to b4ffde6 (#393)
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update github/codeql-action digest to 49abf0b (#394)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/checkout action to v4.1.1
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.1.5
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module go.uber.org/zap to v1.26.0
  go.mod
  go.sum
Due: go-no-replacement

Specify repo for renovate action
  .github/workflows/renovate.yaml
Due: none

Fixed extra comma in autoMerge; update magefile/go.sum
  .github/renovate/autoMerge.json5
  magefiles/go.sum
Due: none

Migrated deprecated config fields
  .github/renovate.json5
Due: none

chore(deps): update actions/checkout action to v4.1.1 (#395)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

Configured dependency version locking and updated Renovate auto-merge rules.
  .github/renovate/autoMerge.json5
  go.mod
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Fixed renovate issue on PR with pull_request_target
  .github/workflows/renovate.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.1.0 (#398)
  .github/workflows/renovate.yaml
Due: none

Re-sync with internal repository
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Re-sync with internal repository (#401)
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Remove Renovate for Now
  .github/renovate-bot.json5
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
  README.md
Due: none
