Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

Implement Sam's requested changes
  docs/building-blocks.md
Due: none

Add zsh devcontainer; update container action & doc (#91)
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/devcontainer.json
  .devcontainer/install-gh-release.sh
  .devcontainer/zsh/Dockerfile
  .devcontainer/zsh/devcontainer.json
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/container.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .gvm
  .hooks/linters/mdstyle.rb
  .pre-commit-config.yaml
  Dockerfile
  docs/container.md
  docs/dev.md
Due: none

Add NoCleanup as a handy debugging feature for building chains
  cmd/run.go
  go.sum
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Due: go-unit-tests, go-vet

Minor doc and label fixes
  .devcontainer/bash/devcontainer.json
  docs/container.md
  go.sum
Due: none

bugfix run
  cmd/run.go
Due: go-unit-tests, go-vet

resolve args inline, setup global input args for ttp steps
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/common.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-vet

fix format
  .github/CODEOWNERS
Due: none

Add NoCleanup Option (#97)
  cmd/run.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Due: go-unit-tests, go-vet

Fix CODEOWNERS mistake (#98)
  .github/CODEOWNERS
Due: none

Added additional information to the testing doc
  docs/testing.md
Due: none

Improve Testing Guidelines
  docs/testing.md
Due: none

Removed unused labels; added new labels we've been employing
  .github/labels.yaml
Due: none

resolve args inline, setup global input args for ttp steps
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

add arg variable mapping for run add map var into ttpexecconfig
  cmd/run.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Due: go-unit-tests, go-vet

Incorporated some of Sam's requested changes
  docs/testing.md
Due: none

chore(deps): pin dependencies
  .github/workflows/container.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to d84805b
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update golang docker tag to v1.20.4
  .devcontainer/bash/Dockerfile
Due: none

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Due: none

Bug fixes and enhancements
  .github/labeler.yaml
  .github/workflows/pre-commit.yaml
  go.mod
  go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests, go-vet

arg -> args
  cmd/run.go
Due: go-unit-tests, go-vet

Add inputs and input replacement (#101)
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Due: go-unit-tests, go-vet

Removed circular dependencies concern from doc for future discussion
  docs/testing.md
Due: none

remove unused global filesystem
  pkg/blocks/sync.go
Due: go-unit-tests, go-vet

remove superfluous file system in test - still fails validation as desired
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

update test to appropriately fail
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

fix bugs in sub TTPs test and implementation
  pkg/blocks/common.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/files/yaml.go
Due: go-unit-tests, go-vet

make stat error handling work correctly - template tests fail must analyze why
  pkg/blocks/common.go
Due: go-unit-tests, go-vet
