Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

fix compatibility with template tests
  pkg/blocks/common.go
  pkg/files/file.go
Due: go-unit-tests, go-vet

appease precommit
  pkg/blocks/common.go
  pkg/files/file.go
Due: go-unit-tests, go-vet

spelling
  pkg/blocks/common.go
Due: go-unit-tests, go-vet

Fix SubTTP Filesystem Handling and Tests (#112)
  pkg/blocks/common.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/files/file.go
  pkg/files/yaml.go
Due: go-unit-tests, go-vet

chore(deps): update actions/setup-go digest to fac708d
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 245bf11
  .github/workflows/semgrep.yaml
Due: none

fix(deps): update module github.com/stretchr/testify to v1.8.3
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/magefile/mage to v1.15.0
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update actions/setup-python digest to bd6b4b6
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 7120226
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/labeler action to v4.0.4
  .github/workflows/meta-labeler.yaml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v37.1.0
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils to v1.3.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v38
  .github/workflows/renovate.yaml
Due: none

stub for edit step - no functionality
  pkg/blocks/editstep.go
  pkg/blocks/step.go
Due: go-unit-tests, go-vet

edit step test now passes - need to add more tests
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

add error test case asserting against message
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

add new test for missing old
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

test cases now test when no edits are specified
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

basic non regex editing works
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

fix(deps): update module github.com/stretchr/testify to v1.8.4
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Due: go-no-replacement

multi-line execution works
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

add multiline comment out test case - more complex regex
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

added errors when a pattern is not found
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

appease pre-commit
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Due: go-unit-tests, go-vet

beginning of example edit step TTP - need to fix workdir handling though
  pkg/blocks/editstep.go
  ttps/examples/steps/edit-step/file-to-edit.txt
  ttps/examples/steps/edit-step/ttp.yaml
Due: go-unit-tests, go-vet

Closes #126 and fixes broken container action
  .gvm
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix edit step - testing on example works now
  pkg/blocks/editstep.go
  ttps/examples/steps/edit-step/ttp.yaml
Due: go-unit-tests, go-vet
