Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

gocritic:
  name: gocritic
  language: script
  entry: .hooks/go-critic.sh
  args:
  - check

appease pre-commit again
  docs/dev/README.md
Due: none

Fix asdf docs (#345)
  README.md
  docs/dev.md
  docs/dev/README.md
  docs/dev/update-go.md
Due: none

Fix --no-cleanup (#342)
  cmd/run.go
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Fixed test case for targets
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

Enhance TTP struct with target and cloud attributes and add relevant tests
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

Add targets specification and related changes to TTPForge
  .vscode/launch.json
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/targets/README.md
  pkg/targets/targetSpec.go
Due: go-copyright, go-vet, gocritic

Add testSpec_test; create new tests in ttps_test
  pkg/blocks/README.md
  pkg/blocks/ttps_test.go
  pkg/targets/README.md
  pkg/targets/targetSpec_test.go
Due: go-copyright, go-vet, gocritic

Addressed leftover concern from PR-342
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Test PR
  magefiles/go.mod
Due: go-no-replacement

createfile step is working - now I need to pass through permissions
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
  pkg/blocks/step.go
Due: go-copyright, go-vet, gocritic

createfile step testing is done
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  pkg/blocks/README.md
Due: none

update docs
  README.md
Due: none

appease pre-commit
  README.md
Due: none

chore(deps): update actions/checkout digest to 8ade135
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update github/codeql-action digest to 6a28655
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/checkout action to v4.1.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/spf13/afero to v1.10.0
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/tidwall/gjson to v1.17.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module go.uber.org/zap to v1.26.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update actions/checkout digest to 8ade135 (#350)
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update github/codeql-action digest to 6a28655 (#351)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update actions/checkout action to v4.1.0 (#352)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/tidwall/gjson to v1.17.0 (#354)
  go.mod
  go.sum
Due: go-no-replacement

add detailed cleanup docs and detailed examples
  cmd/test-resources/repos/another-repo/ttpforge-repo-config.yaml
  cmd/test-resources/repos/example-repo/example-ttps/cleanup/lifo.yaml
  cmd/test-resources/repos/example-repo/example-ttps/cleanup/multiple.yaml
  cmd/test-resources/repos/example-repo/example-ttps/cleanup/single.yaml
  cmd/test-resources/repos/example-repo/some-other-ttps/basic-inline.yaml
  cmd/test-resources/repos/example-repo/ttpforge-repo-config.yaml
  cmd/test-resources/test-config.yaml
  docs/foundations/cleanup-actions.md
Due: none

bugfixes for create_file
  pkg/blocks/createfile.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

bugfixes and tests for createfile
  cmd/test-resources/repos/example-repo/example-ttps/steps/create-file.yaml
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
Due: go-copyright, go-vet, gocritic

Refactor TTP tests with a table-driven approach (#343)
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

chore(deps): update github/codeql-action digest to ddccb87
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update github/codeql-action digest to ddccb87 (#361)
  .github/workflows/codeql-analysis.yaml
Due: none

add createfile step
  go.sum
  pkg/blocks/README.md
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

fix templating bug
  pkg/blocks/loader.go
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

remove codeowner
  .github/CODEOWNERS
Due: none

Bugfix: Templates Using HTML Rendering not Text Rendering (#367)
  pkg/blocks/loader.go
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

remove codeowner (#368)
  .github/CODEOWNERS
Due: none

add createfile step (#366)
  go.sum
  pkg/blocks/README.md
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

update referenced release version and remove redundant command
  README.md
Due: none

Update README.md
  README.md
Due: none

Update Default Install Version (#369)
  README.md
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
  go-vet: any of: \.go$
  gocritic: any of: \.go$
