Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-copyright

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f --skip=".git,.github,go.*" README.md

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/run-go-tests.sh modified
        files: '\.go$'
        pass_filenames: true

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'
        always_run: true
        pass_filenames: true
        require_serial: true
        log_file: /tmp/go-vet.log

      - id: go-licenses
        name: Run go-licenses
        language: script
        entry: .hooks/go-licenses.sh check_forbidden

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

Update expect action for clarity
  pkg/blocks/expectstep.go
Due: go-unit-tests, go-copyright

Update expect action for clarity (#505)
  pkg/blocks/expectstep.go
Due: go-unit-tests, go-copyright

Fix Open Source Copyright Headers
  cmd/test-resources/repos/another-repo/some-ttps/cleanup-tests/test.sh
  cmd/test-resources/repos/test-repo/ttps/steps/hello-world.sh
  integration-tests.sh
  run-all-ttp-tests.sh
Due: none

Fix Open Source Copyright Headers (#507)
  cmd/test-resources/repos/another-repo/some-ttps/cleanup-tests/test.sh
  cmd/test-resources/repos/test-repo/ttps/steps/hello-world.sh
  integration-tests.sh
  run-all-ttp-tests.sh
Due: none

Update goreleaser action (#508)
  .github/workflows/goreleaser.yaml
Due: none

Properly process powershell nested scripts as TTP steps (#509)
  pkg/blocks/basicstep.go
  pkg/blocks/executor.go
Due: go-unit-tests, go-copyright

Unify the way ttpforge executes files or scripts
  pkg/blocks/basicstep.go
  pkg/blocks/executor.go
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
Due: go-unit-tests, go-copyright

Create all directories before creating a new file
  pkg/blocks/createfile.go
Due: go-unit-tests, go-copyright

Make name of the step truly optional
  pkg/blocks/step.go
Due: go-unit-tests, go-copyright

Unify the way ttpforge executes files or scripts (#510)
  pkg/blocks/basicstep.go
  pkg/blocks/executor.go
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
Due: go-unit-tests, go-copyright

Create all directories before creating a new file (#511)
  pkg/blocks/createfile.go
Due: go-unit-tests, go-copyright

Remove External Dependency From GitHub README Installation Steps (#513)
  README.md
  dl-rl.sh
Due: none

Create mutable variable store (#514)
  pkg/blocks/context.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/executor.go
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/filestep.go
  pkg/blocks/loader.go
Due: go-unit-tests, go-copyright

Add change directory step (#515)
  example-ttps/actions/change-directory/basic.yaml
  pkg/blocks/changedirectory.go
  pkg/blocks/changedirectory_test.go
  pkg/blocks/step.go
Due: go-unit-tests, go-copyright

Drop non-unique Cleanup logic from expect step (#516)
  example-ttps/actions/expect/expect.yaml
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
Due: go-unit-tests, go-copyright

Fail fast on errors in powershell TTP steps (#518)
  pkg/blocks/executor.go
  pkg/blocks/executor_test.go
Due: go-unit-tests, go-copyright

Validate CD Step at Run instead of Validate (#519)
  example-ttps/actions/change-directory/runtime-created-directory.yaml
  pkg/blocks/changedirectory.go
Due: go-unit-tests, go-copyright

Use smart buffering (#520)
  pkg/blocks/iocapture.go
  pkg/blocks/iocapture_test.go
Due: go-unit-tests, go-copyright

Implement Mitre Caldera API to communicate with Sandcat agents
  cmd/root.go
  cmd/serve.go
Due: go-unit-tests, go-copyright

Update the golang.org/x/crypto dependency
  go.mod
  go.sum
Due: go-no-replacement

Update the golang.org/x/crypto dependency (#522)
  go.mod
  go.sum
Due: go-no-replacement

Remove Release Docs From GitHub
  README.md
  docs/release.md
Due: none

Remove Release Docs From GitHub (#524)
  README.md
  docs/release.md
Due: none

Add Default Cleanup Action to `fetch_uri` and examples TTPs
  example-ttps/actions/fetchuri/basic.yaml
  example-ttps/actions/fetchuri/proxy.yaml
  pkg/blocks/fetchuri.go
Due: go-unit-tests, go-copyright

Add Default Cleanup Action to `fetch_uri` and examples TTPs (#525)
  example-ttps/actions/fetchuri/basic.yaml
  example-ttps/actions/fetchuri/proxy.yaml
  pkg/blocks/fetchuri.go
Due: go-unit-tests, go-copyright

Add `fetch_uri` step to action documentation.
  docs/foundations/actions.md
  docs/foundations/actions/fetch_uri.md
Due: none

Add `fetch_uri` step to action documentation. (#526)
  docs/foundations/actions.md
  docs/foundations/actions/fetch_uri.md
Due: none

Add `expect` action documentation.
  docs/foundations/actions.md
  docs/foundations/actions/expect.md
Due: none
