Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-copyright

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f --skip=".git,.github,go.*" README.md

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/run-go-tests.sh modified
        files: '\.go$'
        pass_filenames: true

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'
        always_run: true
        pass_filenames: true
        require_serial: true
        log_file: /tmp/go-vet.log

      - id: go-licenses
        name: Run go-licenses
        language: script
        entry: .hooks/go-licenses.sh check_forbidden

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

Add `expect` action documentation. (#527)
  docs/foundations/actions.md
  docs/foundations/actions/expect.md
Due: none

- Implement http_request action type (#529)
  example-ttps/actions/http-request/get-parameters.yaml
  example-ttps/actions/http-request/get.yaml
  example-ttps/actions/http-request/post-full.yaml
  pkg/blocks/httprequest.go
  pkg/blocks/httprequest_test.go
  pkg/blocks/step.go
Due: go-unit-tests, go-copyright

Add `http_request` action documentation. (#530)
  docs/foundations/actions.md
  docs/foundations/actions/http_request.md
Due: none

Add Platform Info to Template Render Context (#532)
  pkg/blocks/loader.go
Due: go-unit-tests, go-copyright

Adding Templating Documentation (#534)
  docs/foundations/templating.md
Due: none

TTPForge: Add variable passing between steps (#535)
  cmd/run.go
  example-ttps/actions/http-request/output-to-variable.yaml
  example-ttps/actions/inline/output-to-variable.yaml
  example-ttps/chaining/subttps-and-variables.yaml
  example-ttps/chaining/variables.yaml
  example-ttps/templating/sprig-helpers.yaml
  pkg/blocks/actions.go
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/changedirectory.go
  pkg/blocks/changedirectory_test.go
  pkg/blocks/compositeaction.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/copypath.go
  pkg/blocks/copypath_test.go
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/expectstep.go
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/filestep.go
  pkg/blocks/httprequest.go
  pkg/blocks/httprequest_test.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/removepath.go
  pkg/blocks/removepath_test.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/subttpcleanup.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-copyright

TTPForge: Refactor FetchURI testing
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
Due: go-unit-tests, go-copyright

TTPForge: Refactor FetchURI testing (#537)
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
Due: go-unit-tests, go-copyright

TTPForge: Refactor HTTPRequest Testing
  pkg/blocks/httprequest_test.go
Due: go-unit-tests, go-copyright

TTPForge: Refactor HTTPRequest Testing (#538)
  pkg/blocks/httprequest_test.go
Due: go-unit-tests, go-copyright

TTPForge: Add variable passing between steps (#535)
  cmd/run.go
  example-ttps/actions/http-request/output-to-variable.yaml
  example-ttps/actions/inline/output-to-variable.yaml
  example-ttps/chaining/subttps-and-variables.yaml
  example-ttps/chaining/variables.yaml
  example-ttps/templating/sprig-helpers.yaml
  pkg/blocks/actions.go
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/changedirectory.go
  pkg/blocks/changedirectory_test.go
  pkg/blocks/compositeaction.go
  pkg/blocks/context.go
  pkg/blocks/context_test.go
  pkg/blocks/copypath.go
  pkg/blocks/copypath_test.go
  pkg/blocks/createfile.go
  pkg/blocks/createfile_test.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/expectstep.go
  pkg/blocks/expectstep_test.go
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
  pkg/blocks/filestep.go
  pkg/blocks/httprequest.go
  pkg/blocks/httprequest_test.go
  pkg/blocks/loader.go
  pkg/blocks/printstr.go
  pkg/blocks/removepath.go
  pkg/blocks/removepath_test.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/subttpcleanup.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-copyright

Bump golang.org/x/crypto from 0.31.0 to 0.35.0 [dependabot issue resolution] (#540)
  go.mod
  go.sum
Due: go-no-replacement

test update crypto dep
  go.mod
  go.sum
Due: go-no-replacement

Adding Kill Action to TTPForge (#541)
  docs/foundations/actions.md
  docs/foundations/actions/kill_process.md
  example-ttps/actions/kill-process/kill-process-unix.yaml
  example-ttps/actions/kill-process/kill-process-windows.yaml
  go.mod
  go.sum
  pkg/blocks/killprocess.go
  pkg/blocks/killprocess_test.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/processutils/processutils.go
  pkg/processutils/processutils_test.go
  pkg/testutils/kill_unix.go
  pkg/testutils/kill_windows.go
  run-all-ttp-tests.sh
Due: go-no-replacement, go-unit-tests, go-copyright

Enum Command (#543)
  cmd/enum.go
  cmd/enumttps.go
  cmd/enumttps_test.go
  cmd/root.go
  cmd/test-resources/repos/enum-repo/test-ttps/platform-darwin.yaml
  cmd/test-resources/repos/enum-repo/test-ttps/platform-linux.yaml
  cmd/test-resources/repos/enum-repo/test-ttps/platform-windows.yaml
  cmd/test-resources/repos/enum-repo/ttpforge-repo-config.yaml
  cmd/test-resources/test-config.yaml
  docs/foundations/enum.md
Due: go-unit-tests, go-copyright

TTPForge StepVars Bugfix: Fix newline appended to stdout
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
Due: go-unit-tests, go-copyright

TTPForge StepVars Bugfix: Fix newline appended to stdout (#544)
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
Due: go-unit-tests, go-copyright

Kill Process Improvements (#545)
  docs/foundations/actions/kill_process.md
  example-ttps/actions/kill-process/kill-process-unix-failure.yaml
  example-ttps/actions/kill-process/kill-process-windows-failure.yaml
  pkg/blocks/killprocess.go
  pkg/blocks/killprocess_test.go
  pkg/processutils/processutils.go
  pkg/processutils/processutils_unix_test.go
  pkg/processutils/processutils_windows_test.go
  run-all-ttp-tests.sh
Due: go-unit-tests, go-copyright

Update Goreleaser to ignore WIndows ARM Builds
  .goreleaser.yaml
Due: none

Update Goreleaser to ignore WIndows ARM Builds (#546)
  .goreleaser.yaml
Due: none

Goreleaser Version set to 1 (#547)
  .goreleaser.yaml
Due: none

Parse YAML TTPs
  cmd/enumttps.go
  pkg/parseutils/parsefile.go
  pkg/parseutils/parsefile_test.go
Due: go-unit-tests, go-copyright

Parse YAML TTPs (#548)
  cmd/enumttps.go
  pkg/parseutils/parsefile.go
  pkg/parseutils/parsefile_test.go
Due: go-unit-tests, go-copyright

Adding parse-yaml functionality for sandcastle job
  cmd/parseyaml.go
  cmd/parseyaml_test.go
  cmd/root.go
  parse-diff-ttps-test.sh
Due: go-unit-tests, go-copyright

Adding parse-yaml functionality for sandcastle job (#549)
  cmd/parseyaml.go
  cmd/parseyaml_test.go
  cmd/root.go
  parse-diff-ttps-test.sh
Due: go-unit-tests, go-copyright

Add args to ttpforgre create TTP Boilerplate (#550)
  cmd/createttp.go
Due: go-unit-tests, go-copyright

TTPForge Move Command (#551)
  cmd/move.go
  cmd/move_test.go
  cmd/root.go
  docs/foundations/move.md
  pkg/fileutils/fileutils.go
  pkg/repos/repo.go
  pkg/repos/repocollection.go
Due: go-unit-tests, go-copyright

Add indentation for subTTP outputs (#552)
  pkg/blocks/subttp.go
  pkg/blocks/subttpcleanup.go
  pkg/logging/logger.go
Due: go-unit-tests, go-copyright
