Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-unit-tests:
  name: Go unit tests
  language: script
  entry: .hooks/go-unit-tests.sh short

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

Add Dockerfile and container doc
  .devcontainer/devcontainer.json
  Dockerfile
  docs/container.md
Due: none

Add action to build and publish docker image
  .github/workflows/container.yaml
Due: none

Update devcontainer to use ghrc container; update docs
  .devcontainer/devcontainer.json
  .github/workflows/container.yaml
  README.md
  docs/container.md
Due: none

Add pre-commit hook for copyright header
  .hooks/go-copyright.sh
  .pre-commit-config.yaml
Due: none

Added copyright header to all go files
  cmd/procedure.go
  cmd/root.go
  cmd/run.go
  magefiles/magefile.go
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/common.go
  pkg/blocks/common_test.go
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
  pkg/strings/strings.go
  pkg/strings/strings_test.go
Due: go-unit-tests, go-vet

chore(deps): pin dependencies
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 83c59fc
  .github/workflows/semgrep.yaml
Due: none

Renamed everything to match new repo name - ttpforge
  cmd/procedure.go
  cmd/root.go
  cmd/run.go
  magefiles/magefile.go
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
  pkg/blocks/common.go
  pkg/blocks/common_test.go
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
  pkg/strings/strings.go
  pkg/strings/strings_test.go
Due: go-unit-tests, go-vet

fix(deps): update github.com/l50/goutils digest to 9a10a6c
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update actions/checkout action to v3.5.0
  .github/workflows/pre-commit.yaml
Due: none

fix(deps): update module github.com/spf13/cobra to v1.7.0
  go.mod
  go.sum
Due: go-no-replacement

Update resources to reflect name from poll
  .gitignore
  .goreleaser.yaml
  README.md
  cmd/procedure.go
  cmd/root.go
  docs/dev.md
  pkg/logging/logger.go
Due: go-unit-tests, go-vet

Address pre-commit action failing on PRs for go modules
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update actions/checkout action to v3.5.0 (#30)
  .github/workflows/pre-commit.yaml
Due: none

Closes #40
  .devcontainer/install-tool.sh
  .github/workflows/container.yaml
  Dockerfile
  docs/container.md
Due: none

Add doc with information to create a new release
  README.md
  docs/release.md
Due: none

chore(deps): pin dependencies
  .github/workflows/container.yaml
Due: none

chore(deps): update golang docker tag to v1.20.3
  Dockerfile
Due: none

Fixed goreleaser action version
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update actions/checkout digest to 8e5e7e5
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/checkout action to v3.5.2
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-unit-tests: any of: \.go$
  go-vet: any of: \.go$
