Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

gocritic:
  name: gocritic
  language: script
  entry: .hooks/go-critic.sh
  args:
  - check

bump dependency
  go.mod
  go.sum
Due: go-no-replacement

Upgrade gjson dependency (#243)
  go.mod
  go.sum
Due: go-no-replacement

delete entire files package - everything still passes
  pkg/files/README.md
  pkg/files/file.go
  pkg/files/file_examples_test.go
  pkg/files/file_test.go
Due: go-copyright, go-vet, gocritic

reduce dependency count substantially by switching to assert
  go.mod
  go.sum
  pkg/blocks/common_test.go
Due: go-no-replacement, go-copyright, go-vet, gocritic

delete dead code
  pkg/blocks/common.go
  pkg/blocks/common_test.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  pkg/blocks/README.md
Due: none

Remove old asdf code
  .devcontainer/bash/Dockerfile
Due: none

Simplify and consolidate
  .devcontainer/bash/Dockerfile
Due: none

Add additional PC instruction to dev doc
  docs/dev.md
Due: none

Remove old args
  .github/workflows/container.yaml
Due: none

Added missing pre-commit dependencies
  .devcontainer/bash/Dockerfile
Due: none

Update container doc
  docs/container.md
Due: none

Add mage autocomplete
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/files/mage_completion.sh
Due: none

Prune Dead Code and Dependencies (#244)
  go.mod
  go.sum
  pkg/blocks/README.md
  pkg/blocks/common.go
  pkg/blocks/common_test.go
  pkg/files/README.md
  pkg/files/file.go
  pkg/files/file_examples_test.go
  pkg/files/file_test.go
Due: go-no-replacement, go-copyright, go-vet, gocritic

downgrade afero for compatibility and further dependency bloat reduction
  go.mod
  go.sum
Due: go-no-replacement

Fixed layer caching between the two jobs
  .github/workflows/container.yaml
Due: none

Corrected names of steps
  .github/workflows/container.yaml
Due: none

Fix pre-commit initialization as part of the build
  .devcontainer/bash/Dockerfile
Due: none

Downgrade Afero Dependency for Compatibility (#245)
  go.mod
  go.sum
Due: go-no-replacement

Remove caching to troubleshoot long builds
  .github/workflows/container.yaml
Due: none

Reduce number of layers in container
  .devcontainer/bash/Dockerfile
Due: none

Rename workflow jobs and add steps to save and load Docker image
  .github/workflows/container.yaml
Due: none

downgrade zap for compatibility
  go.mod
  go.sum
Due: go-no-replacement

Downgrade zap for compatibility (#246)
  go.mod
  go.sum
Due: go-no-replacement

fix indirect dependencies
  go.mod
  go.sum
Due: go-no-replacement

Fix workflow errors for PRs
  .github/workflows/delete-old-wf.yaml
  .github/workflows/meta-labeler.yaml
Due: none

Update labeler action to employ pull_request_target
  .github/workflows/meta-labeler.yaml
Due: none

Updated from action example
  .github/workflows/meta-labeler.yaml
Due: none

Simplified container action - it's now one job
  .github/workflows/container.yaml
Due: none

Fixed outdated message
  .github/workflows/pre-commit.yaml
Due: none

Fix indirect dependency compatibility issue (#248)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): pin mattraks/delete-workflow-runs action to 9835e4a
  .github/workflows/delete-old-wf.yaml
Due: none

chore(deps): update github/codeql-action digest to a09933a
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 0bdb313
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28
  .github/workflows/tests.yaml
Due: none

fix(deps): update module github.com/spf13/afero to v1.9.5
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module go.uber.org/zap to v1.25.0
  go.mod
  go.sum
Due: go-no-replacement

Dev Container and container build refactor + fixes (#247)
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/files/mage_completion.sh
  .github/workflows/container.yaml
  .github/workflows/delete-old-wf.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/pre-commit.yaml
  docs/container.md
  docs/dev.md
Due: none

Update instructions to get latest release
  README.md
Due: none

Removed gh from dependencies
  README.md
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
  go-vet: any of: \.go$
  gocritic: any of: \.go$
