Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

fix(deps): update module github.com/l50/goutils to v2 (#151)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Added proper variadic parameters example
  ttps/examples/variadic-params/README.md
  ttps/examples/variadic-params/delta.log
  ttps/examples/variadic-params/variadicParameterExample.go
  ttps/examples/variadic-params/variadicParameterExample.yaml
Due: go-unit-tests, go-vet

Updated run_integration_test to be more robust
  cmd/run_integration_test.go
  go.mod
  go.sum
  ttps/examples/variadic-params/variadicParameterExample.yaml
Due: go-no-replacement, go-unit-tests, go-vet

Updated magefile
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
Due: go-no-replacement, go-unit-tests, go-vet

Add copyright header
  cmd/run_integration_test.go
Due: go-unit-tests, go-vet

Minor linting
  cmd/run_integration_test.go
  go.mod
  go.sum
  pkg/blocks/common_test.go
Due: go-no-replacement, go-unit-tests, go-vet

Synchronized go mods with main
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Removed copyright headers from run_integration_test.go
  cmd/run_integration_test.go
Due: go-unit-tests, go-vet

I131 variadic arg update (#143)
  .vscode/launch.json
  cmd/run.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  magefiles/magefile.go
  pkg/blocks/common_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
  ttps/examples/variadic-params/README.md
  ttps/examples/variadic-params/variadicParameterExample.go
  ttps/examples/variadic-params/variadicParameterExample.yaml
Due: go-no-replacement, go-unit-tests, go-vet

remove dead code
  cmd/run.go
Due: go-unit-tests, go-vet

remove redundant subttp test cases (they are covered by earlier tests
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

check for ambiguous step types and add test cases for new verification code
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-vet

purge invalid subTTP test
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

functional execution test that runs a subttp
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

sub ttp step now checks output
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

Bugfixes: SubTTP Tests and Ambiguous Steps (#153)
  cmd/run.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-vet

support passing args to sub ttps
  .vscode/launch.json
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

precommit
  .vscode/launch.json
Due: none

Support Passing Arguments to SubTTPs (#154)
  .vscode/launch.json
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

add complexity to subttp test so that it will correctly assess inventoryPath
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

chore(deps): update renovatebot/github-action action to v38.1.8
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/otiai10/copy to v1.12.0
  go.mod
  go.sum
Due: go-no-replacement

temporarily revert subttp test change to get clean tests - remove inventoryPath refs from other parts of code tests still pass
  cmd/run.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet

remove global inventoryPath references
  pkg/blocks/common.go
Due: go-unit-tests, go-vet

start packaging execution context in ExecutionConfig
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

rename ExecutionConfig to ExecutionContext
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
Due: go-unit-tests, go-vet

rename execCfg to execCtx for clarity
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

fix error style
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

fix test to fail fast and avoid weird error messages
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

pass TTPExecutionContext to validate
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-vet

subTTP now actually uses ttp_search_paths
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

add current directory test case
  pkg/blocks/subttp_test.go
Due: go-unit-tests, go-vet

rename to decodeSteps for accuracy
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

test end-to-end
  cmd/root.go
  cmd/run.go
  config.yaml
  ttps/examples/sub-ttps/example.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Due: go-unit-tests, go-vet

appease precommit
  pkg/blocks/subttp.go
  ttps/examples/sub-ttps/example.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Due: go-unit-tests, go-vet

disable go-critic
  .pre-commit-config.yaml
  pkg/blocks/subttp.go
Due: go-unit-tests, go-vet

switch to ttp_search_path - more accurate
  cmd/root.go
  cmd/run.go
  config.yaml
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

fix comment
  cmd/root.go
Due: go-unit-tests, go-vet

Added custom go-critic pre-commit hook
  .hooks/go-critic.sh
  .pre-commit-config.yaml
Due: none

Added custom go-critic pre-commit hook (#159)
  .hooks/go-critic.sh
  .pre-commit-config.yaml
Due: none
