Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

address comments
  .pre-commit-config.yaml
  pkg/blocks/subttp.go
Due: go-unit-tests, go-vet

fix(deps): update module github.com/otiai10/copy to v1.12.0 (#156)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v38.1.8 (#155)
  .github/workflows/renovate.yaml
Due: none

SubTTP Fixes and Updates (#158)
  cmd/root.go
  cmd/run.go
  config.yaml
  pkg/blocks/basicstep.go
  pkg/blocks/common.go
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/filestep.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
  pkg/blocks/sync.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
  ttps/examples/sub-ttps/example.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp1.yaml
  ttps/examples/sub-ttps/my-sub-ttps/ttp2.yaml
Due: go-unit-tests, go-vet

Fix output and add step type wrappers
  cmd/new_test.go
  cmd/procedure.go
  cmd/procedure_test.go
  cmd/run_integration_test.go
  go.mod
  go.sum
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-no-replacement, go-unit-tests, go-vet

Removed dead code that was originally for embedding
  cmd/procedure.go
  cmd/procedure_test.go
  embed.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-vet

chore(deps): update docker/setup-buildx-action digest to 16c0bc4
  .github/workflows/container.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.7
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update actions/labeler action to v4.2.0
  .github/workflows/meta-labeler.yaml
Due: none

New test and debug configuration
  .vscode/launch.json
  cmd/new.go
  go.mod
  pkg/blocks/step.go
  pkg/blocks/step_test.go
  pkg/blocks/ttps_test.go
Due: go-no-replacement, go-unit-tests, go-vet

Clean up and refactor TTP decoding and step validation
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/filestep.go
  pkg/blocks/step_test.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-unit-tests, go-vet

Fixed failing tests
  pkg/blocks/step_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet

Fixed duplicate comment
  pkg/blocks/step.go
Due: go-unit-tests, go-vet

chore(deps): update actions/labeler action to v4.2.0 (#165)
  .github/workflows/meta-labeler.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.7 (#164)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update docker/setup-buildx-action digest to 16c0bc4 (#163)
  .github/workflows/container.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.9
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils/v2 to v2.0.8
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/l50/goutils/v2 to v2.0.8 (#169)
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v38.1.9 (#168)
  .github/workflows/renovate.yaml
Due: none

Update magefile.go
  magefiles/magefile.go
  magefiles/tmpl/README.md.tmpl
Due: go-unit-tests, go-vet

Replaced testing doc with code-standards
  README.md
  docs/code-standards.md
  docs/testing.md
Due: none

Updated exported functions to match autogen doc standard
  pkg/blocks/step.go
  pkg/blocks/step_test.go
Due: go-unit-tests, go-vet

Added exported interface comment template
  docs/code-standards.md
  magefiles/go.mod
  magefiles/go.sum
  magefiles/tmpl/README.md.tmpl
Due: go-no-replacement

Fixed formatting in README template
  .docgenignore
  magefiles/tmpl/README.md.tmpl
Due: none

Minor standards and package updates
  .docgenignore
  docs/code-standards.md
Due: none

More comment updates to fit with autogen docs
  pkg/blocks/step.go
  pkg/files/file.go
Due: go-unit-tests, go-vet

Remove duplicated code and add example tests
  README.md
  docs/code-standards.md
  pkg/files/file_examples_test.go
  pkg/strings/strings.go
  pkg/strings/strings_test.go
Due: go-unit-tests, go-vet

Added generate docs pre-commit hook
  .hooks/generate-docs.sh
Due: none

Remove unused log statements and update error handling
  cmd/new.go
  cmd/run_integration_test.go
  magefiles/magefile.go
  pkg/files/file.go
  pkg/files/file_examples_test.go
Due: go-unit-tests, go-vet

Bug fixes
  go.sum
  pkg/blocks/step.go
  pkg/files/file_examples_test.go
Due: go-unit-tests, go-vet

Code cleanup
  cmd/run_integration_test.go
Due: go-unit-tests, go-vet

Updated comments
  cmd/run_integration_test.go
  pkg/blocks/step.go
  pkg/files/file.go
  pkg/files/file_test.go
Due: go-unit-tests, go-vet

Linter appeasement
  .hooks/generate-docs.sh
  magefiles/go.sum
  pkg/files/file_examples_test.go
Due: go-unit-tests, go-vet

Added .tool-versions file for asdf
  .tool-versions
Due: none

Added main to exclude_packages for docgen
  cmd/README.md
  magefiles/go.sum
  magefiles/magefile.go
  pkg/files/file_examples_test.go
Due: go-unit-tests, go-vet

Working doc generation
  cmd/README.md
  go.sum
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/logging/README.md
  pkg/network/README.md
  pkg/runner/README.md
Due: none

Add debug magefile
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Add missing generated docs
  .pre-commit-config.yaml
  .vscode/launch.json
  .vscode/tasks.json
  cmd/README.md
  go.sum
  pkg/blocks/README.md
  pkg/network/README.md
  pkg/network/proxy.go
Due: go-unit-tests, go-vet

Removed dead code
  cmd/README.md
  cmd/procedure.go
  embed.go
Due: go-unit-tests, go-vet
