Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

add backup file option and tests
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  ttps/examples/steps/edit-step/ttp.yaml
Due: go-unit-tests, go-vet

appease precommit
  ttps/examples/steps/edit-step/file-to-edit.txt
  ttps/examples/steps/edit-step/ttp.yaml
Due: none

appease precommit some more
  pkg/blocks/editstep.go
Due: go-unit-tests, go-vet

Closes #126 and fixes broken container action
  .gvm
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

fix(deps): update module github.com/spf13/viper to v1.16.0
  go.mod
  go.sum
Due: go-no-replacement

Add new step type: EditStep (#132)
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
  pkg/blocks/step.go
  pkg/blocks/ttps.go
  ttps/examples/steps/edit-step/file-to-edit.txt
  ttps/examples/steps/edit-step/ttp.yaml
Due: go-unit-tests, go-vet

fix(deps): update module github.com/stretchr/testify to v1.8.4 (#127)
  go.sum
Due: none

chore(deps): update actions/checkout digest to c85c95e
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update docker/build-push-action digest to 44ea916
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/login-action digest to 465a078
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-buildx-action digest to 6a58db7
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-qemu-action digest to 2b82ce8
  .github/workflows/container.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 316a175
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/checkout action to v3.5.3
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update golang docker tag to v1.20.5
  .devcontainer/bash/Dockerfile
Due: none

chore(deps): update actions/labeler action to v4.1.0
  .github/workflows/meta-labeler.yaml
Due: none

Incorporate new variadic argument handling
  cmd/run.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
Due: go-unit-tests, go-vet

Add variadic params example
  .vscode/launch.json
  go.mod
  go.sum
  pkg/files/yaml.go
  ttps/examples/variadic-params/README.md
  ttps/examples/variadic-params/delta.go
  ttps/examples/variadic-params/delta.yaml
Due: go-no-replacement, go-unit-tests, go-vet

Add integration test for variadic params
  cmd/run_integration_test.go
  go.mod
  go.sum
  ttps/examples/variadic-params/delta.go
  ttps/examples/variadic-params/delta.log
  ttps/examples/variadic-params/delta.yaml
Due: go-no-replacement, go-unit-tests, go-vet

Delete launch.json
  .vscode/launch.json
Due: none

chore(deps): update actions/checkout digest to c85c95e (#135)
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update docker/build-push-action digest to 44ea916 (#136)
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/login-action digest to 465a078 (#137)
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-buildx-action digest to 6a58db7 (#138)
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-qemu-action digest to 2b82ce8 (#139)
  .github/workflows/container.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 316a175 (#140)
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update actions/checkout action to v3.5.3 (#141)
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update golang docker tag to v1.20.5 (#142)
  .devcontainer/bash/Dockerfile
Due: none

chore(deps): update docker/build-push-action digest to 2eb1c19
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-buildx-action digest to ecf9528
  .github/workflows/container.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action digest to 336e299
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.7
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/l50/goutils to v2
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

chore(deps): update docker/build-push-action digest to 2eb1c19 (#145)
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-buildx-action digest to ecf9528 (#146)
  .github/workflows/container.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action digest to 336e299 (#147)
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update pre-commit hook codespell-project/codespell to v2.2.5 (#148)
  .pre-commit-config.yaml
Due: none

chore(deps): update renovatebot/github-action action to v38.1.7 (#149)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/labeler action to v4.1.0 (#150)
  .github/workflows/meta-labeler.yaml
Due: none
