Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

Replaced pushd/popd with cd (sh doesn't support pushd/popd)
  .devcontainer/bash/Dockerfile
Due: none

chore(deps): update docker/build-push-action digest to 0a97817 (#318)
  .github/workflows/container.yaml
Due: none

chore(deps): update github/codeql-action digest to 701f152 (#319)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update docker/setup-qemu-action action to v3 (#327)
  .github/workflows/container.yaml
Due: none

chore(deps): update docker/setup-buildx-action action to v3 (#326)
  .github/workflows/container.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5497961 (#320)
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update docker/login-action action to v3 (#325)
  .github/workflows/container.yaml
Due: none

chore(deps): update actions/checkout action to v4 (#323)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/goreleaser.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/semgrep.yaml
  .github/workflows/tests.yaml
Due: none

Removed test branch from the action
  .github/workflows/container.yaml
Due: none

Enhance TTP object with MITRE ATT&CK mapping and improve tests.
  magefiles/go.mod
  magefiles/go.sum
  pkg/blocks/README.md
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-no-replacement, go-copyright, go-vet, gocritic

Enhance TTP object with MITRE ATT&CK mapping and improve tests. (#329)
  magefiles/go.mod
  magefiles/go.sum
  pkg/blocks/README.md
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
Due: go-no-replacement, go-copyright, go-vet, gocritic

switch to github token
  .github/workflows/container.yaml
Due: none

add source label
  .devcontainer/bash/Dockerfile
Due: none

Switch to GITHUB_TOKEN for pushing package (#330)
  .devcontainer/bash/Dockerfile
  .github/workflows/container.yaml
Due: none

Initial attempt to get BasicStep working with ignore_errors
  pkg/blocks/basicstep.go
Due: go-copyright, go-vet, gocritic

testing...
  .hooks/run-go-tests.sh
Due: none

BasicStep working with ignore_errors
  pkg/blocks/basicstep.go
  pkg/blocks/basicstep_test.go
Due: go-copyright, go-vet, gocritic

FileStep working with ignore_errors
  pkg/blocks/filestep.go
  pkg/blocks/filestep_test.go
Due: go-copyright, go-vet, gocritic

EditStep working with ignore_errors
  pkg/blocks/editstep.go
  pkg/blocks/editstep_test.go
Due: go-copyright, go-vet, gocritic

SubTTPStep working with ignore_errors
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Due: go-copyright, go-vet, gocritic

FetchURI step working with ignore_errors
  pkg/blocks/README.md
  pkg/blocks/fetchuri.go
  pkg/blocks/fetchuri_test.go
Due: go-copyright, go-vet, gocritic

Consistent output from steps
  pkg/blocks/basicstep.go
  pkg/blocks/editstep.go
  pkg/blocks/subttp.go
Due: go-copyright, go-vet, gocritic

chore(deps): update github/codeql-action digest to 04daf01
  .github/workflows/codeql-analysis.yaml
Due: none

fix(deps): update module go.uber.org/zap to v1.26.0
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update docker/build-push-action action to v5
  .github/workflows/container.yaml
Due: none

chore(deps): update github/codeql-action digest to 04daf01 (#335)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update docker/build-push-action action to v5 (#338)
  .github/workflows/container.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action action to v5 (#339)
  .github/workflows/goreleaser.yaml
Due: none

Add TestNoCleanupFlag() to test the --no-cleanup flag
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Add TestCleanupDelayFlag() to test the --cleanup-delay-seconds flag
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Resolved issue with --no-cleanup
  cmd/run.go
Due: go-copyright, go-vet, gocritic

Refactor TTP tests with a table-driven approach
  pkg/blocks/ttps_test.go
Due: go-copyright, go-vet, gocritic

Remove redundant assignment
  cmd/run.go
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Update tests to use afero
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Removed TestCleanupDelayFlag() - punting to integration-tests branch on fork
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

fix asdf and harmonize all versions
  .tool-versions
  README.md
  docs/dev.md
  docs/dev/README.md
  docs/dev/update-go.md
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

revert golang version change since 1.21 is confirmed legit to target
  .tool-versions
  docs/dev/README.md
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

update docs to include container
  docs/dev/update-go.md
Due: none

additional guidance plus appease pre-commit
  docs/dev/README.md
  docs/dev/update-go.md
Due: none

fix go version
  docs/dev/README.md
Due: none
