Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

gocritic:
  name: gocritic
  language: script
  entry: .hooks/go-critic.sh
  args:
  - check

Documentation for Actions (#430)
  docs/foundations/actions.md
  docs/foundations/actions/create_file.md
  docs/foundations/actions/edit_file.md
  docs/foundations/actions/file.md
  docs/foundations/actions/inline.md
  docs/foundations/actions/print_str.md
  docs/foundations/actions/remove_path.md
Due: none

Docs: Fix code embedding
  docs/foundations/actions/create_file.md
  docs/foundations/actions/edit_file.md
  docs/foundations/actions/inline.md
Due: none

Docs: Fix code embedding (#432)
  docs/foundations/actions/create_file.md
  docs/foundations/actions/edit_file.md
  docs/foundations/actions/inline.md
Due: none

Add `ttpforge test` Command for Scalable Integration Testing
  cmd/root.go
  cmd/test.go
  example-ttps/tests/dry_run.yaml
  example-ttps/tests/minimal_test_case.yaml
  example-ttps/tests/with_args.yaml
  pkg/blocks/loader.go
  pkg/logging/logger.go
Due: go-copyright, go-vet, gocritic

Example TTPs: Cleanup Feature
  example-ttps/cleanup/basic.yaml
  example-ttps/cleanup/default.yaml
  example-ttps/cleanup/failure.yaml
  pkg/blocks/basicstep.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

Move dry-run to a better location
  cmd/run.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

Add `ttpforge test` Command for Scalable Integration Testing (#434)
  cmd/root.go
  cmd/test.go
  example-ttps/tests/dry_run.yaml
  example-ttps/tests/minimal_test_case.yaml
  example-ttps/tests/with_args.yaml
  pkg/blocks/loader.go
  pkg/logging/logger.go
Due: go-copyright, go-vet, gocritic

Refactor `pkg/args` Tests To Reduce Giant Test Case Size
  pkg/args/choices.go
  pkg/args/choices_test.go
  pkg/args/spec.go
  pkg/args/spec_test.go
Due: go-copyright, go-vet, gocritic

Example TTPs: Cleanup Feature (#435)
  example-ttps/cleanup/basic.yaml
  example-ttps/cleanup/default.yaml
  example-ttps/cleanup/failure.yaml
  pkg/blocks/basicstep.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

Move dry-run to a better location (#437)
  cmd/run.go
  pkg/blocks/ttps.go
Due: go-copyright, go-vet, gocritic

Refactor `pkg/args` Tests To Reduce Giant Test Case Size (#439)
  pkg/args/choices.go
  pkg/args/choices_test.go
  pkg/args/spec.go
  pkg/args/spec_test.go
Due: go-copyright, go-vet, gocritic

Bugfix (minor): Fix Unit Test Config Handling and Config Marshal/Unmarshal (#433)
  cmd/config.go
  cmd/removerepo.go
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
Due: go-copyright, go-vet, gocritic

Example TTPs: Command-Line Arguments (#436)
  example-ttps/args/basic.yaml
  example-ttps/args/choices.yaml
  example-ttps/args/regexp.yaml
  pkg/args/regexp.go
  pkg/args/spec.go
  pkg/args/spec_test.go
Due: go-copyright, go-vet, gocritic

Add Platform Compatibility Checks to Requirements (#438)
  cmd/run_darwin_test.go
  cmd/run_linux_test.go
  cmd/test-resources/repos/test-repo/ttps/requirements/darwin_only.yaml
  cmd/test-resources/repos/test-repo/ttps/requirements/linux_only.yaml
  pkg/blocks/requirements.go
  pkg/blocks/requirements_test.go
  pkg/blocks/ttps.go
  pkg/blocks/ttps_test.go
  pkg/checks/context.go
  pkg/platforms/spec.go
  pkg/platforms/spec_test.go
Due: go-copyright, go-vet, gocritic

Refactor EditStep Tests
  pkg/blocks/editstep_test.go
Due: go-copyright, go-vet, gocritic

Args: Add `path` arg type to fix working directory handling
  cmd/run_test.go
  cmd/test-resources/repos/test-repo/ttps/args/path/with-path.yaml
  cmd/test-resources/repos/test-repo/ttps/args/path/without-path.yaml
  example-ttps/actions/edit_file/append_delete.yaml
  example-ttps/actions/edit_file/replace.yaml
  example-ttps/introduction/dotfile-backdoor-demo.yaml
  example-ttps/tests/with_args.yaml
  pkg/args/path_test.go
  pkg/args/spec.go
  pkg/fileutils/fileutils.go
Due: go-copyright, go-vet, gocritic

Refactor EditStep Tests (#441)
  pkg/blocks/editstep_test.go
Due: go-copyright, go-vet, gocritic

Args: Add `path` arg type to fix working directory handling (#442)
  cmd/run_test.go
  cmd/test-resources/repos/test-repo/ttps/args/path/with-path.yaml
  cmd/test-resources/repos/test-repo/ttps/args/path/without-path.yaml
  example-ttps/actions/edit_file/append_delete.yaml
  example-ttps/actions/edit_file/replace.yaml
  example-ttps/introduction/dotfile-backdoor-demo.yaml
  example-ttps/tests/with_args.yaml
  pkg/args/path_test.go
  pkg/args/spec.go
  pkg/fileutils/fileutils.go
Due: go-copyright, go-vet, gocritic

Documentation: Foundations (#443)
  README.md
  cmd/default-config.yaml
  docs/foundations/README.md
  docs/foundations/actions.md
  docs/foundations/args.md
  docs/foundations/cleanup.md
Due: none

go.mod: remove unnecessary replace directive
  go.mod
Due: go-no-replacement

go.mod: remove unnecessary replace directive (#444)
  go.mod
Due: go-no-replacement

Update Github CI/CD (#445)
  .github/workflows/tests.yaml
  integration-tests.sh
Due: none

Docs: update TTP example snippets (#447)
  docs/foundations/actions/edit_file.md
Due: none

Document the `tests` Feature and Demo Integration Test Runner (#448)
  cmd/test.go
  docs/foundations/README.md
  docs/foundations/tests.md
  example-ttps/introduction/dotfile-backdoor-demo.yaml
  run_all_ttp_tests.sh
Due: go-copyright, go-vet, gocritic

remove unneeded asdf stuff
  .asdf
  .tool-versions
Due: none

remove container
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/devcontainer.json
  .devcontainer/bash/files/mage_completion.sh
  .github/workflows/container.yaml
  .gitignore
  README.md
  docs/container.md
Due: none

remove stale golang update instructions
  docs/dev/update-go.md
Due: none

remove renovate lables
  .github/labels.yaml
Due: none

gitignore venv so can use it with pre-commit
  .gitignore
Due: none

update pre-commit action with new changes
  .github/workflows/pre-commit.yaml
Due: none

remove redundant go vet
  .pre-commit-config.yaml
Due: none

delete code standards as a lot of stuff is out of date
  docs/code-standards.md
Due: none

move go licenses to its own hook to reduce pre-commit dependencies
  .github/workflows/licenses.yaml
  .hooks/go-licenses.sh
  .pre-commit-config.yaml
Due: none

remove shellcheck + shfmt - not worth cost benefit
  .pre-commit-config.yaml
Due: none

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
  go-vet: any of: \.go$
  gocritic: any of: \.go$
