Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

gocritic:
  name: gocritic
  language: script
  entry: .hooks/go-critic.sh
  args:
  - check

add first test case with new api
  pkg/repos/config.go
  pkg/repos/config_test.go
Due: go-copyright, go-vet, gocritic

improve test complexity
  pkg/repos/config_test.go
Due: go-copyright, go-vet, gocritic

add template search
  pkg/repos/config.go
  pkg/repos/config_test.go
Due: go-copyright, go-vet, gocritic

rename for clarity
  pkg/repos/repo.go
  pkg/repos/repo_test.go
Due: go-copyright, go-vet, gocritic

simplifying config - removing stack trace
  cmd/new_test.go
  cmd/root.go
  cmd/run_integration_test.go
  config.yaml
  pkg/logging/logger.go
Due: go-copyright, go-vet, gocritic

fix tests
  pkg/logging/logger_test.go
Due: go-copyright, go-vet, gocritic

rip out saveConfig - do not need it
  cmd/root.go
Due: go-copyright, go-vet, gocritic

remove dead function
  cmd/root.go
Due: go-copyright, go-vet, gocritic

minimize config and ensure that example ttps still work
  config.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
Due: none

remove template tests pending refactor
  cmd/new_test.go
Due: go-copyright, go-vet, gocritic

repos: rewrite for afero
  pkg/repos/repo.go
  pkg/repos/repo_test.go
Due: go-copyright, go-vet, gocritic

actually cloning the repo works end to end - now need to update search paths
  cmd/config.go
  cmd/default-config.yaml
  cmd/root.go
  go.mod
  go.sum
  main.go
  pkg/repos/repo.go
Due: go-no-replacement, go-copyright, go-vet, gocritic

remove dead code
  cmd/run.go
Due: go-copyright, go-vet, gocritic

move examples to armory
  cmd/run_integration_test.go
  examples/args/README.md
  examples/args/define-args.yaml
  examples/outputs/README.md
  examples/outputs/step-outputs.yaml
  examples/steps/edit-step/file-to-edit.txt
  examples/steps/edit-step/ttp.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp1.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
  examples/variadic-params/README.md
  examples/variadic-params/variadicParameterExample.go
  examples/variadic-params/variadicParameterExample.yaml
Due: go-copyright, go-vet, gocritic

search path into armory works
  cmd/run.go
Due: go-copyright, go-vet, gocritic

delete legacy code now that run is streamlined - will add back these e2e tests later
  go.mod
  go.sum
  pkg/files/yaml.go
  pkg/runner/README.md
  pkg/runner/execute.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/relative-paths/e/e.sh
  pkg/runner/test-ttps/relative-paths/very/b.sh
  pkg/runner/test-ttps/relative-paths/very/d/d.sh
  pkg/runner/test-ttps/relative-paths/very/nested/a.sh
  pkg/runner/test-ttps/relative-paths/very/nested/c.sh
  pkg/runner/test-ttps/relative-paths/very/nested/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/write-to-result.sh
Due: go-no-replacement, go-copyright, go-vet, gocritic

delete dead config entry
  cmd/root.go
Due: go-copyright, go-vet, gocritic

centralize afero test utilities
  pkg/repos/repo.go
  pkg/repos/repo_test.go
  pkg/testutils/fs.go
Due: go-copyright, go-vet, gocritic

WIP - another subTTP execution step passing
  cmd/run.go
  pkg/blocks/context.go
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
  pkg/blocks/subttp_test.go
Due: go-copyright, go-vet, gocritic

missed a file
  pkg/blocks/subttp_test.go
Due: go-copyright, go-vet, gocritic

finalize subTTP tests
  pkg/blocks/subttp_test.go
Due: go-copyright, go-vet, gocritic

Add license badge
  README.md
Due: none

remove templates until updated for compatibility
  cmd/new.go
  templates/bash/README.md.tmpl
  templates/bash/bashTTP.bash.tmpl
  templates/bash/bashTTP.yaml.tmpl
Due: go-copyright, go-vet, gocritic

remove dead config
  config.yaml
Due: none

add initialization command
  cmd/default-config.yaml
  cmd/init.go
  pkg/repos/repo.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  cmd/config.go
  cmd/default-config.yaml
  pkg/testutils/fs.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  cmd/config.go
  cmd/root.go
  cmd/run.go
  pkg/repos/repo.go
  pkg/repos/repo_test.go
  pkg/testutils/fs.go
Due: go-copyright, go-vet, gocritic

restore stack trace changes
  cmd/root.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
Due: go-copyright, go-vet, gocritic

chore(deps): update actions/setup-go digest to 93397be
  .github/workflows/goreleaser.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action digest to 3fa32b8
  .github/workflows/goreleaser.yaml
Due: none

Adding missing instruction to container doc
  docs/container.md
Due: none

Updated package docs
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/repos/README.md
  pkg/testutils/README.md
Due: none

Minor doc correction
  README.md
Due: none

Repository Handling, Doc, and QoL Updates
  .gitignore
  README.md
  cmd/list.go
  cmd/list_repos.go
  cmd/list_ttps.go
  cmd/root.go
  cmd/show.go
  cmd/show_ttp.go
  pkg/repos/README.md
  pkg/repos/repo.go
  pkg/repos/repo_collection.go
  pkg/repos/repo_collection_test.go
  pkg/repos/repo_test.go
Due: go-copyright, go-vet, gocritic

appease pre-commit
  README.md
  pkg/repos/README.md
  pkg/repos/repo_collection.go
Due: go-copyright, go-vet, gocritic

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
  go-vet: any of: \.go$
  gocritic: any of: \.go$
