Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

go-no-replacement:
  name: Avoid committing a go module replacement
  entry: .hooks/go-no-replacement.sh
  language: script

go-copyright:
  name: Ensure all go files have the copyright header
  language: script
  entry: .hooks/go-copyright.sh

go-vet:
  name: Run go vet
  language: script
  entry: .hooks/go-vet.sh

gocritic:
  name: gocritic
  language: script
  entry: .hooks/go-critic.sh
  args:
  - check

Update getting started code to work with ZSH
  README.md
Due: none

Update instructions to get latest release (#260)
  README.md
Due: none

chore(deps): update actions/checkout digest to f43a0e5
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update dependency python to v3.11.5
  .tool-versions
Due: none

chore(deps): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Due: none

chore(deps): update actions/checkout action to v3.6.0
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update golang docker tag to v1.21.0
  .devcontainer/bash/Dockerfile
Due: none

update zap
  go.mod
  go.sum
Due: go-no-replacement

appease pre-commit
  .pre-commit-config.yaml
Due: none

Update Zap (#273)
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-no-replacement

reduce minimum required go version
  go.mod
Due: go-no-replacement

Reduce minimum required go version (#274)
  go.mod
Due: go-no-replacement

chore(deps): update docker/setup-buildx-action digest to 885d146
  .github/workflows/container.yaml
Due: none

chore(deps): update github/codeql-action digest to 00e563e
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Due: none

remove confusing usage message and double error printouts
  cmd/root.go
  cmd/run.go
  main.go
Due: go-copyright, go-vet, gocritic

clean up log formatting
  cmd/README.md
  cmd/root.go
  pkg/logging/logger.go
Due: go-copyright, go-vet, gocritic

add additional tabs
  cmd/run.go
Due: go-copyright, go-vet, gocritic

Reduce User Confusion through Improved Error Handling and Logging (#280)
  cmd/README.md
  cmd/root.go
  cmd/run.go
  main.go
  pkg/logging/logger.go
Due: go-copyright, go-vet, gocritic

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update actions/checkout action to v3.6.0 (#300)
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/renovate.yaml
  .github/workflows/tests.yaml
Due: none

chore(deps): update renovatebot/github-action action to v39.0.5 (#299)
  .github/workflows/renovate.yaml
Due: none

chore(deps): update dependency python to v3.11.5 (#298)
  .tool-versions
Due: none

chore(deps): update shogo82148/actions-goveralls digest to 7b1bd28 (#297)
  .github/workflows/tests.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 0bdb313 (#296)
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update goreleaser/goreleaser-action digest to 5fdedb9 (#295)
  .github/workflows/goreleaser.yaml
Due: none

chore(deps): update github/codeql-action digest to 00e563e (#294)
  .github/workflows/codeql-analysis.yaml
Due: none

chore(deps): update docker/setup-buildx-action digest to 885d146 (#293)
  .github/workflows/container.yaml
Due: none

chore(deps): update actions/checkout digest to f43a0e5 (#292)
  .github/workflows/goreleaser.yaml
  .github/workflows/semgrep.yaml
Due: none

chore(deps): pin mattraks/delete-workflow-runs action to 9835e4a (#291)
  .github/workflows/delete-old-wf.yaml
Due: none

fix comment typo
  pkg/blocks/loader.go
Due: go-copyright, go-vet, gocritic

fix docs
  pkg/blocks/README.md
Due: none

test stub for E2E ttp running
  cmd/run_test.go
  cmd/test-resources/repos/test-repo/ttpforge-repo-config.yaml
  cmd/test-resources/test-config.yaml
Due: go-copyright, go-vet, gocritic

refactor cobra commands for testability - verified that command sequence from README.md works
  cmd/README.md
  cmd/init.go
  cmd/list.go
  cmd/list_repos.go
  cmd/list_ttps.go
  cmd/root.go
  cmd/run.go
  cmd/show.go
  cmd/show_ttp.go
Due: go-copyright, go-vet, gocritic

fix remaining bugs
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
  pkg/blocks/README.md
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
Due: go-copyright, go-vet, gocritic

remove problematic gitignore
  .gitignore
  cmd/test-resources/repos/test-repo/ttps/basic/basic-file.yaml
  cmd/test-resources/repos/test-repo/ttps/basic/hello-world.sh
Due: none

fix precommit
  cmd/test-resources/repos/test-repo/ttps/basic/basic-file.yaml
  cmd/test-resources/repos/test-repo/ttps/basic/hello-world.sh
Due: none

Fix Working Directory Handling Bug and Refactor Cobra for Testability (#301)
  .gitignore
  cmd/README.md
  cmd/init.go
  cmd/list.go
  cmd/list_repos.go
  cmd/list_ttps.go
  cmd/root.go
  cmd/run.go
  cmd/run_test.go
  cmd/show_ttp.go
  cmd/test-resources/repos/test-repo/ttpforge-repo-config.yaml
  cmd/test-resources/repos/test-repo/ttps/basic/basic-file.yaml
  cmd/test-resources/repos/test-repo/ttps/basic/hello-world.sh
  cmd/test-resources/test-config.yaml
  pkg/blocks/README.md
  pkg/blocks/loader.go
  pkg/blocks/subttp.go
Due: go-copyright, go-vet, gocritic

first draft of install command
  cmd/config.go
  cmd/install.go
  cmd/install_repo.go
  cmd/root.go
Due: go-copyright, go-vet, gocritic

additional improvements to initialization for bundling compatibility
  cmd/config.go
  cmd/init.go
  cmd/root.go
  main.go
Due: go-copyright, go-vet, gocritic

Path conditions:
  go-no-replacement: any of: go.mod
  go-copyright: any of: \.go$
  go-vet: any of: \.go$
  gocritic: any of: \.go$
