Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

cleanup files for precommit
  cmd/e2e-tests/test_relative_paths/a.sh
  cmd/e2e-tests/test_relative_paths/b.sh
  cmd/e2e-tests/test_relative_paths/c.sh
  cmd/e2e-tests/test_relative_paths/nested.yaml
Due: none

misc updates for precommit
  .github/CODEOWNERS
  .pre-commit-config.yaml
  go.mod
Due: go-no-replacement

chore(deps): update returntocorp/semgrep-action digest to b802485
  .github/workflows/semgrep.yaml
Due: none

Removed push trigger from nancy action
  .github/workflows/nancy.yaml
Due: none

New testing instructions; fixes
  Dockerfile
  docs/container.md
Due: none

Fixed permission bugs and build issues
  .devcontainer/install-gh-release.sh
  .gitignore
  Dockerfile
  docs/container.md
Due: none

Add timeout to golanci-lint PC hook
  .pre-commit-config.yaml
Due: none

Misc fixes; use latest tag
  .devcontainer/install-gh-release.sh
  .github/workflows/container.yaml
  .pre-commit-config.yaml
  Dockerfile
  docs/container.md
  docs/dev.md
Due: none

Add VSCode extensions to devcontainer
  .devcontainer/devcontainer.json
Due: none

Add nancy for 3p vulnerability scanning
  .github/workflows/nancy.yaml
Due: none

Update bug template with icon in title
  .github/ISSUE_TEMPLATE/BUG.yaml
Due: none

Add shellcheck directive for gvm
  .gvm
Due: none

Add proxy functions and tests
  pkg/network/proxy.go
  pkg/network/proxy_test.go
Due: go-unit-tests, go-vet

chore(deps): update actions/setup-python digest to 57ded4d
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update renovatebot/github-action action to v36.0.3
  .github/workflows/renovate.yaml
Due: none

Resolved issue with CreateDirIfNotExists
  .pre-commit-config.yaml
  pkg/files/file.go
  pkg/files/file_test.go
Due: go-unit-tests, go-vet

New pkg funcs; ExecuteYAML() -> files pkg; bug fixes
  .vscode/launch.json
  cmd/new.go
  cmd/run.go
  pkg/files/e2e-tests/config.yaml
  pkg/files/e2e-tests/old-pre-refactor/test_cleanup_inline.yaml
  pkg/files/e2e-tests/old-pre-refactor/tests_sub.yaml
  pkg/files/e2e-tests/old-pre-refactor/yaml_runner.yaml
  pkg/files/e2e-tests/test-variable-expansion.sh
  pkg/files/e2e-tests/test_variable_expansion.yaml
  pkg/files/file.go
  pkg/files/file_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet

Update TTPInput
  cmd/new.go
  cmd/new_test.go
  pkg/files/file_test.go
Due: go-unit-tests, go-vet

Improvements for yaml_test
  pkg/files/e2e-tests/config.yaml
  pkg/files/e2e-tests/old-pre-refactor/test_cleanup_inline.yaml
  pkg/files/e2e-tests/old-pre-refactor/tests_sub.yaml
  pkg/files/e2e-tests/old-pre-refactor/yaml_runner.yaml
  pkg/files/e2e-tests/test-variable-expansion.sh
  pkg/files/e2e-tests/test_variable_expansion.yaml
  pkg/files/yaml.go
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet

Updated container doc to avoid conflicts with trunk
  docs/container.md
Due: none

PR feedback addressed
  cmd/new.go
  cmd/new_test.go
  cmd/root.go
  cmd/run.go
  pkg/files/file.go
  pkg/files/file_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  templates/bash/README.md.tmpl
  templates/bash/bashTTP.bash.tmpl
  templates/bash/bashTTP.yaml.tmpl
Due: go-unit-tests, go-vet

Linting; minor pc update
  .pre-commit-config.yaml
  cmd/new_test.go
Due: go-unit-tests, go-vet

chore(deps): update returntocorp/semgrep-action digest to 8689a93
  .github/workflows/semgrep.yaml
Due: none

Fixed templating error with README
  cmd/new.go
Due: go-unit-tests, go-vet

Ensure --args is only allowed for --ttp-type file
  cmd/new.go
  cmd/new_test.go
Due: go-unit-tests, go-vet

Updated reduceIndentation() to work with tabs and spaces
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

Removed unnecessary if statement
  pkg/files/file.go
Due: go-unit-tests, go-vet

Update file package code to support afero.Fs
  cmd/new.go
  cmd/new_test.go
  go.mod
  go.sum
  pkg/files/file.go
  pkg/files/file_test.go
Due: go-no-replacement, go-unit-tests, go-vet

Employ real templates for new_test.go
  cmd/new_test.go
Due: go-unit-tests, go-vet

Fixed incorrect template parsing path
  cmd/new.go
Due: go-unit-tests, go-vet

Replace createBashTestTemplates with otiai10/copy
  cmd/new_test.go
  go.mod
Due: go-no-replacement, go-unit-tests, go-vet

Input validation fixes; increased test coverage
  cmd/new.go
  cmd/new_test.go
Due: go-unit-tests, go-vet

Reduced complexity of functions
  cmd/new.go
  cmd/new_test.go
Due: go-unit-tests, go-vet

Updated TemplateExists to return the full path instead of a bool
  pkg/files/file.go
  pkg/files/file_test.go
Due: go-unit-tests, go-vet

Moved check for file existence w/ fs.StatFS so that it doesn't miss certain inputs
  pkg/blocks/common.go
Due: go-unit-tests, go-vet

Add more complete exported func comment; var renaming for clarity
  pkg/files/yaml.go
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet
