Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

Fixed minor bugs in yaml_test
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet

Update ExpandHomeDir to trim the input path and ensure unexpected spaces aren't present
  pkg/files/file.go
Due: go-unit-tests, go-vet

Ensure that output from running TTPs is checked for integration tests
  cmd/new_test.go
Due: go-unit-tests, go-vet

Added copyright header to embed.go
  embed.go
Due: go-unit-tests, go-vet

Templated Bash TTPs (#61)
  .pre-commit-config.yaml
  .vscode/launch.json
  cmd/e2e-tests/config.yaml
  cmd/e2e-tests/old-pre-refactor/test_cleanup_inline.yaml
  cmd/e2e-tests/old-pre-refactor/tests_sub.yaml
  cmd/e2e-tests/old-pre-refactor/yaml_runner.yaml
  cmd/e2e-tests/test-variable-expansion.sh
  cmd/e2e-tests/test_variable_expansion.yaml
  cmd/executeYAML.go
  cmd/executeYAML_test.go
  cmd/new.go
  cmd/new_test.go
  cmd/root.go
  cmd/run.go
  embed.go
  go.mod
  go.sum
  pkg/blocks/common.go
  pkg/blocks/ttps.go
  pkg/files/file.go
  pkg/files/file_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  templates/bash/README.md.tmpl
  templates/bash/bashTTP.bash.tmpl
  templates/bash/bashTTP.yaml.tmpl
Due: go-no-replacement, go-unit-tests, go-vet

rebase passes all tests
  .vscode/launch.json
  cmd/run.go
  pkg/blocks/e2e-test-ttps/relative_paths/a.sh
  pkg/blocks/e2e-test-ttps/relative_paths/b.sh
  pkg/blocks/e2e-test-ttps/relative_paths/c.sh
  pkg/blocks/e2e-test-ttps/relative_paths/d/d.sh
  pkg/blocks/e2e-test-ttps/relative_paths/e/e.sh
  pkg/blocks/e2e-test-ttps/relative_paths/nested.yaml
  pkg/blocks/e2e-test-ttps/variable_expansion/echo.sh
  pkg/blocks/e2e-test-ttps/variable_expansion/ttp.yaml
  pkg/blocks/e2e_test.go
  pkg/blocks/step.go
  pkg/blocks/subttp.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/blocks/ttps.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
Due: go-unit-tests, go-vet

precommit fixes
  pkg/blocks/e2e-test-ttps/relative_paths/a.sh
  pkg/blocks/e2e-test-ttps/relative_paths/b.sh
  pkg/blocks/e2e-test-ttps/relative_paths/c.sh
  pkg/blocks/e2e-test-ttps/relative_paths/d/d.sh
  pkg/blocks/e2e-test-ttps/relative_paths/e/e.sh
  pkg/blocks/e2e-test-ttps/relative_paths/nested.yaml
  pkg/blocks/e2e-test-ttps/variable_expansion/echo.sh
  pkg/blocks/e2e-test-ttps/variable_expansion/ttp.yaml
Due: none

fix file perms
  pkg/blocks/e2e-test-ttps/relative_paths/a.sh
  pkg/blocks/e2e-test-ttps/relative_paths/b.sh
  pkg/blocks/e2e-test-ttps/relative_paths/c.sh
  pkg/blocks/e2e-test-ttps/relative_paths/d/d.sh
  pkg/blocks/e2e-test-ttps/relative_paths/e/e.sh
  pkg/blocks/e2e-test-ttps/variable_expansion/echo.sh
Due: none

stop using tmp working directory - not a good idea
  cmd/run.go
  pkg/blocks/e2e_test.go
  pkg/blocks/subttp.go
  pkg/blocks/ttps.go
  pkg/files/file.go
  pkg/files/file_test.go
Due: go-unit-tests, go-vet

fix linter
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

fix directory convention
  pkg/blocks/e2e-test-ttps/relative-paths/a.sh
  pkg/blocks/e2e-test-ttps/relative-paths/b.sh
  pkg/blocks/e2e-test-ttps/relative-paths/c.sh
  pkg/blocks/e2e-test-ttps/relative-paths/d/d.sh
  pkg/blocks/e2e-test-ttps/relative-paths/e/e.sh
  pkg/blocks/e2e-test-ttps/relative-paths/nested.yaml
  pkg/blocks/e2e-test-ttps/variable-expansion/echo.sh
  pkg/blocks/e2e-test-ttps/variable-expansion/ttp.yaml
  pkg/blocks/e2e_test.go
Due: go-unit-tests, go-vet

added design doc
  docs/design_doc.mg
Due: none

rewrote tests to avoid problematic dependence on stdout
  pkg/blocks/e2e-test-ttps/relative-paths/a.sh
  pkg/blocks/e2e-test-ttps/relative-paths/b.sh
  pkg/blocks/e2e-test-ttps/relative-paths/c.sh
  pkg/blocks/e2e-test-ttps/relative-paths/d/d.sh
  pkg/blocks/e2e-test-ttps/relative-paths/e/e.sh
  pkg/blocks/e2e-test-ttps/relative-paths/nested.yaml
  pkg/blocks/e2e-test-ttps/relative-paths/very/b.sh
  pkg/blocks/e2e-test-ttps/relative-paths/very/d/d.sh
  pkg/blocks/e2e-test-ttps/relative-paths/very/nested/a.sh
  pkg/blocks/e2e-test-ttps/relative-paths/very/nested/c.sh
  pkg/blocks/e2e-test-ttps/relative-paths/very/nested/ttp.yaml
  pkg/blocks/e2e-test-ttps/variable-expansion/echo.sh
  pkg/blocks/e2e-test-ttps/variable-expansion/ttp.yaml
  pkg/blocks/e2e-test-ttps/variable-expansion/write-to-result.sh
  pkg/blocks/e2e_test.go
Due: go-unit-tests, go-vet

remove unnecessary method
  pkg/blocks/step.go
Due: go-unit-tests, go-vet

appease pre-commit
  pkg/blocks/e2e-test-ttps/relative-paths/e/e.sh
  pkg/blocks/e2e-test-ttps/relative-paths/very/b.sh
  pkg/blocks/e2e-test-ttps/relative-paths/very/nested/ttp.yaml
  pkg/blocks/e2e-test-ttps/variable-expansion/ttp.yaml
Due: none

extension and step names
  docs/design_doc.md
Due: none

refactor to make packaging more sane and revert out-of-scope changes
  cmd/run.go
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/subttp.go
  pkg/blocks/sync.go
  pkg/blocks/sync_test.go
  pkg/blocks/ttps.go
  pkg/files/file.go
  pkg/files/file_test.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/relative-paths/e/e.sh
  pkg/runner/test-ttps/relative-paths/very/b.sh
  pkg/runner/test-ttps/relative-paths/very/d/d.sh
  pkg/runner/test-ttps/relative-paths/very/nested/a.sh
  pkg/runner/test-ttps/relative-paths/very/nested/c.sh
  pkg/runner/test-ttps/relative-paths/very/nested/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/write-to-result.sh
Due: go-unit-tests, go-vet

add test that i forgot
  pkg/runner/execute_test.go
Due: go-unit-tests, go-vet

add placeholder to make pre-commit pass
  pkg/runner/execute.go
  pkg/runner/execute_test.go
Due: go-unit-tests, go-vet

appease precommit
  pkg/runner/execute.go
Due: go-unit-tests, go-vet

make us all code owners
  .github/CODEOWNERS
Due: none

appease pre-commit
  .github/CODEOWNERS
Due: none

Add Missing Maintainers to CODEOWNERS (#85)
  .github/CODEOWNERS
Due: none

Additional E2E Tests and Bugfix (#82)
  .vscode/launch.json
  pkg/blocks/basicstep.go
  pkg/blocks/filestep.go
  pkg/blocks/subttp.go
  pkg/blocks/sync.go
  pkg/files/yaml.go
  pkg/files/yaml_test.go
  pkg/runner/execute.go
  pkg/runner/execute_test.go
  pkg/runner/test-ttps/relative-paths/e/e.sh
  pkg/runner/test-ttps/relative-paths/very/b.sh
  pkg/runner/test-ttps/relative-paths/very/d/d.sh
  pkg/runner/test-ttps/relative-paths/very/nested/a.sh
  pkg/runner/test-ttps/relative-paths/very/nested/c.sh
  pkg/runner/test-ttps/relative-paths/very/nested/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/ttp.yaml
  pkg/runner/test-ttps/variable-expansion/write-to-result.sh
Due: go-unit-tests, go-vet

Update go.mod and go.sum
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Updated improper const value definitions
  pkg/blocks/step.go
  templates/bash/bashTTP.yaml.tmpl
Due: go-unit-tests, go-vet

Add building blocks doc
  README.md
  docs/building-blocks.md
Due: none

Add missing nancy badge to README
  README.md
Due: none

Implement Sam's requested changes
  docs/building-blocks.md
Due: none

chore(deps): update golang docker tag to v1.20.4
  Dockerfile
Due: none

chore(deps): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/otiai10/copy to v1.11.0
  go.mod
  go.sum
Due: go-no-replacement

Add zsh devcontainer; update container action & doc
  .devcontainer/bash/Dockerfile
  .devcontainer/bash/devcontainer.json
  .devcontainer/install-gh-release.sh
  .devcontainer/zsh/Dockerfile
  .devcontainer/zsh/devcontainer.json
  .github/labeler.yaml
  .github/labels.yaml
  .github/workflows/container.yaml
  .github/workflows/nancy.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/tests.yaml
  .gvm
  .hooks/linters/mdstyle.rb
  .pre-commit-config.yaml
  Dockerfile
  docs/building-blocks.md
  docs/container.md
  docs/dev.md
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/blocks/step.go
  templates/bash/bashTTP.yaml.tmpl
Due: go-no-replacement, go-unit-tests, go-vet
