Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-copyright, go-vet, gocritic

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.9-for-vscode
    hooks:
      - id: prettier
        files: \.(json|yaml|yml)$
        exclude: docs/container.md

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
        exclude: >-
          (?x)^templates/bash/bashTTP.bash.tmpl$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
        exclude: ^templates/
      - id: shfmt
        exclude: ^templates/
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        entry: |
          codespell -q 3 -f
          -S ".git,.github,README.md,docs/*,go.sum,*test.go"

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
        args: [--timeout=5m]
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-copyright
        name: Ensure all go files have the copyright header
        language: script
        entry: .hooks/go-copyright.sh
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

      - id: gocritic
        name: gocritic
        language: script
        files: '\.go$'
        entry: .hooks/go-critic.sh
        args: ["check"]

        # - id: generate-docs
        #   name: Update package docs
        #   language: script
        #   entry: .hooks/generate-docs.sh
        #   files: '\.go$'
        #   stages: [commit]

Update to go 1.20.6
  .tool-versions
Due: none

Update renovate to clean up old dashboard; dep updates
  .github/workflows/renovate.yaml
  magefiles/go.mod
  magefiles/go.sum
Due: go-no-replacement

Doc bug fix
  cmd/README.md
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/args/README.md
  pkg/blocks/README.md
  pkg/files/README.md
  pkg/logging/README.md
  pkg/network/README.md
  pkg/outputs/README.md
  pkg/runner/README.md
Due: go-no-replacement

chore(deps): update actions/setup-python digest to 61a6322 (#187)
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update returntocorp/semgrep-action digest to 5f52783 (#188)
  .github/workflows/semgrep.yaml
Due: none

Update build process to use asdf for language management
  .asdf
  .devcontainer/zsh/Dockerfile
  .gvm
  docs/container.md
  docs/dev.md
Due: none

chore(deps): update dependency python to v3.11.4
  .tool-versions
Due: none

chore(deps): update dependency ruby to v3.2.2
  .tool-versions
Due: none

Fix variadic args example and docs
  README.md
  examples/variadic-params/README.md
  examples/variadic-params/variadicParameterExample.go
  examples/variadic-params/variadicParameterExample.yaml
  ttps/examples/variadic-params/variadicParameterExample.yaml
Due: go-copyright, go-vet, gocritic

Moved examples out of ttps to examples directory
  .vscode/launch.json
  examples/args/README.md
  examples/args/define-args.yaml
  examples/outputs/README.md
  examples/outputs/step-outputs.yaml
  examples/steps/edit-step/file-to-edit.txt
  examples/steps/edit-step/ttp.yaml
  examples/sub-ttps/example.yaml
  examples/sub-ttps/my-sub-ttps/ttp1.yaml
  examples/sub-ttps/my-sub-ttps/ttp2.yaml
  examples/variadic-params/README.md
Due: none

Add pre-commit hook to check dependencies for incompatible licenses
  .hooks/go-licenses.sh
  .pre-commit-config.yaml
Due: none

Update ttp_search_paths to point to examples
  config.yaml
Due: none

chore(deps): update dependency ruby to v3.2.2 (#193)
  .tool-versions
Due: none

chore(deps): update dependency python to v3.11.4 (#192)
  .tool-versions
Due: none

Minor doc content updates
  README.md
  docs/dev.md
Due: none

chore(deps): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Due: none

fix(deps): update module github.com/tidwall/gjson to v1.15.0
  go.mod
  go.sum
Due: go-no-replacement

fix(deps): update module github.com/tidwall/gjson to v1.15.0 (#204)
  go.mod
  go.sum
Due: go-no-replacement

chore(deps): update renovatebot/github-action action to v39.0.1 (#203)
  .github/workflows/renovate.yaml
Due: none

Improve barrier to entry for new forgers
  README.md
Due: none

quick tidy
  go.sum
Due: none

go get golang.org/x/net@v0.13.0
  go.mod
  go.sum
Due: go-no-replacement

Upgrade vulnerable dependency - appease nancy (#215)
  go.mod
  go.sum
Due: go-no-replacement

Variable expansion now ignores leading and trailing spaces in variable specifier - Closes #208
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Due: go-copyright, go-vet, gocritic

Variable expansion now ignores leading and trailing spaces in variable specifier
  pkg/blocks/context.go
  pkg/blocks/context_test.go
Due: go-copyright, go-vet, gocritic

Removed last example from ttps
  .gitignore
  ttps/privilege-escalation/credential-theft/hello-world/hello-world.sh
  ttps/privilege-escalation/credential-theft/hello-world/ttp-inline.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp.yaml
Due: none

Fixed vulnerable dependency
  go.mod
  go.sum
Due: go-no-replacement

Removed last example from ttps (#216)
  .gitignore
  go.sum
  ttps/privilege-escalation/credential-theft/hello-world/hello-world.sh
  ttps/privilege-escalation/credential-theft/hello-world/ttp-inline.yaml
  ttps/privilege-escalation/credential-theft/hello-world/ttp.yaml
Due: none

chore(deps): update golang docker tag to v1.20.7
  .devcontainer/bash/Dockerfile
  .tool-versions
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.1
  .pre-commit-config.yaml
Due: none

fix(deps): update module go.uber.org/zap to v1.25.0
  go.mod
  go.sum
Due: go-no-replacement
