Repository facebookincubator/TTPForge: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-unit-tests, go-vet

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.30.0
    hooks:
      - id: yamllint
        entry: yamllint --strict -c .hooks/linters/yamllint.yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.6
    hooks:
      - id: prettier
        files: \.(json|md|yaml|yml)$

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: script-must-have-extension
        name: Ensure shell scripts end with .sh
        types: [shell]
      - id: shellcheck
      - id: shfmt
      # Configuration in .mdlrc and .hooks/linters/mdstyle.rb
      - id: markdownlint

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        entry: codespell -q 3 -f --skip=".git,.github" README.md

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-lint
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: golangci-lint
      - id: go-critic
      - id: go-build
      - id: go-mod-tidy

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Avoid committing a go module replacement
        entry: .hooks/go-no-replacement.sh
        language: script
        files: go.mod

      - id: go-unit-tests
        name: Go unit tests
        language: script
        entry: .hooks/go-unit-tests.sh short
        files: '\.go$'

      - id: go-vet
        name: Run go vet
        language: script
        entry: .hooks/go-vet.sh
        files: '\.go$'

fix file permissions to make everything show up clearer in terminal
  Dockerfile
  LICENSE
  README.md
  config.yaml
  embed.go
  go.mod
  go.sum
  main.go
Due: go-no-replacement, go-unit-tests, go-vet

setup end to end test case - test_inline.yaml does not work yet
  .vscode/launch.json
  e2e-tests/config.yaml
  e2e-tests/test.sh
  e2e-tests/test_cleanup_inline.yaml
  e2e-tests/test_inline.yaml
  e2e-tests/tests_sub.yaml
  e2e-tests/yaml_runner.yaml
Due: none

fix pointer bug in step deserialization
  .gitignore
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

bugfix cleanup - test_inline now works
  e2e-tests/test_inline.yaml
Due: none

move e2e tests into golang test infra
  .vscode/launch.json
  cmd/e2e-tests/config.yaml
  cmd/e2e-tests/old-pre-refactor/test_cleanup_inline.yaml
  cmd/e2e-tests/old-pre-refactor/tests_sub.yaml
  cmd/e2e-tests/old-pre-refactor/yaml_runner.yaml
  cmd/e2e-tests/test.sh
  cmd/e2e-tests/test_inline.yaml
  cmd/execute_yaml.go
  cmd/execute_yaml_test.go
  cmd/run.go
Due: go-unit-tests, go-vet

final integration test - variable expansions
  .vscode/launch.json
  cmd/e2e-tests/test-variable-expansion.sh
  cmd/e2e-tests/test.sh
  cmd/e2e-tests/test_inline.yaml
  cmd/e2e-tests/test_variable_expansion.yaml
  cmd/execute_yaml.go
  cmd/execute_yaml_test.go
  cmd/run.go
Due: go-unit-tests, go-vet

go mod tidy
  go.sum
Due: none

rename to match alek recommendations
  cmd/executeYAML.go
  cmd/executeYAML_test.go
Due: go-unit-tests, go-vet

add copyright notice
  cmd/executeYAML.go
Due: go-unit-tests, go-vet

fix precommit
  .vscode/launch.json
  cmd/e2e-tests/test-variable-expansion.sh
  cmd/e2e-tests/test_variable_expansion.yaml
Due: none

add copyright
  cmd/executeYAML_test.go
Due: go-unit-tests, go-vet

remove redundant unit tests in precommit
  .pre-commit-config.yaml
Due: none

use HOME since that is set more consistently than USER - USER fails in docker for example
  cmd/e2e-tests/test_variable_expansion.yaml
  cmd/executeYAML_test.go
Due: go-unit-tests, go-vet

Add E2E Test Support and Bugfixes (#58)
  .gitignore
  .pre-commit-config.yaml
  .vscode/launch.json
  Dockerfile
  LICENSE
  README.md
  cmd/e2e-tests/config.yaml
  cmd/e2e-tests/old-pre-refactor/test_cleanup_inline.yaml
  cmd/e2e-tests/old-pre-refactor/tests_sub.yaml
  cmd/e2e-tests/old-pre-refactor/yaml_runner.yaml
  cmd/e2e-tests/test-variable-expansion.sh
  cmd/e2e-tests/test_variable_expansion.yaml
  cmd/executeYAML.go
  cmd/executeYAML_test.go
  cmd/run.go
  embed.go
  go.mod
  go.sum
  pkg/blocks/ttps.go
  tests/test.sh
  tests/test_inline.yaml
Due: go-no-replacement, go-unit-tests, go-vet

add other owners
  .github/CODEOWNERS
Due: none

refactor to use temporary workdir - e2e tests pass
  cmd/executeYAML.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

Fixed some bugs in the container docs
  docs/container.md
Due: none

Mocked ttp generation; bug fixes
  .vscode/launch.json
  cmd/new.go
  cmd/root.go
Due: go-unit-tests, go-vet

Working to generate improperly formatted TTP yaml
  cmd/new.go
  cmd/root.go
Due: go-unit-tests, go-vet

Working bash template
  .pre-commit-config.yaml
  cmd/new.go
  cmd/new_test.go
  pkg/blocks/ttps.go
  pkg/files/file.go
  pkg/files/file_test.go
  templates/README.md.tmpl
  templates/bashTTP.sh.tmpl
  templates/bashTTP.yaml.tmpl
  testing
Due: go-unit-tests, go-vet

fix idempotency of executeYAML and add new E2E scenario - test passes but it should not bcs does not account for cleanup output - need to add
  cmd/e2e-tests/test_relative_paths/a.sh
  cmd/e2e-tests/test_relative_paths/b.sh
  cmd/e2e-tests/test_relative_paths/c.sh
  cmd/e2e-tests/test_relative_paths/d/d.sh
  cmd/e2e-tests/test_relative_paths/e/e.sh
  cmd/e2e-tests/test_relative_paths/nested.yaml
  cmd/executeYAML.go
  cmd/executeYAML_test.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

prepare cleanup to support output checking - compiles fine
  pkg/blocks/step.go
Due: go-unit-tests, go-vet

refactor test to prepare for cleanup validation support
  cmd/executeYAML_test.go
Due: go-unit-tests, go-vet

rename var for clarity
  cmd/executeYAML_test.go
Due: go-unit-tests, go-vet

refactor E2E unit tests and incorporate assertions against cleanup outputs - all E2E tests now pass
  cmd/executeYAML_test.go
Due: go-unit-tests, go-vet

chore(deps): update actions/setup-python digest to 57ded4d
  .github/workflows/pre-commit.yaml
Due: none

chore(deps): update renovatebot/github-action action to v36.0.3
  .github/workflows/renovate.yaml
Due: none

chore(deps): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Due: none

add --no-cleanup flag and refine code structure by adding yamlRunner struct
  cmd/e2e-tests/test_relative_paths/c.sh
  cmd/executeYAML.go
  cmd/executeYAML_test.go
  cmd/root.go
  cmd/run.go
  pkg/blocks/ttps.go
Due: go-unit-tests, go-vet

Misc fixes; use latest tag
  .devcontainer/install-gh-release.sh
  .github/workflows/container.yaml
  .pre-commit-config.yaml
  Dockerfile
  docs/container.md
  docs/dev.md
Due: none

Add VSCode extensions to devcontainer
  .devcontainer/devcontainer.json
Due: none

Add timeout to golanci-lint PC hook
  .pre-commit-config.yaml
Due: none

Add shellcheck directive for gvm
  .gvm
Due: none

Update bug template with icon in title
  .github/ISSUE_TEMPLATE/BUG.yaml
Due: none

Add nancy for 3p vulnerability scanning
  .github/workflows/nancy.yaml
Due: none

Updated exiting cobra for testing; minor fix
  cmd/executeYAML_test.go
  cmd/new.go
  cmd/new_test.go
  cmd/run.go
  go.mod
  testing
Due: go-no-replacement, go-unit-tests, go-vet

Add proxy functions and tests
  pkg/network/proxy.go
  pkg/network/proxy_test.go
Due: go-unit-tests, go-vet

chore(deps): update returntocorp/semgrep-action digest to b802485
  .github/workflows/semgrep.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-prettier to v3.0.0-alpha.9-for-vscode
  .pre-commit-config.yaml
Due: none

add workdir logging
  cmd/executeYAML.go
Due: go-unit-tests, go-vet
